[2021-11-20 15:10] cakesoft-swati opened #4765 "When we add the gift back to the account..."
- When you add the gift back to the account, it shows in the balance but not in the transactions. Even on hard refresh.
![whenweadd](https://user-images.githubusercontent.com/62699947/142736595-a4543ba7-3b0b-4236-a9f2-94e5c5d2c723.jpg)

- Gift cards visible even after they are added back to the account. It should move to expired.
![availableexpir](https://user-images.githubusercontent.com/62699947

[2021-11-20 15:12] cakesoft-swati opened #4766 "Gift sats:currency issue."
- Not sats but the currency that was chosen. I had chosen £
-
![notsatbtcurrency](https://user-images.githubusercontent.com/62699947/142732022-e01b5d0a-9c1c-483f-ae2b-bd64daeabf58.jpg)

[2021-11-20 15:23] cakesoft-swati opened #4767 "Unable to restore the wallet."
- Unable to restore the wallet.It is happening on android device only.
- My level 1 was complete still I was unable to recover the wallet.It was stuck on loader messages.I was not able able to jump in the wallet.
- Tested on staging app v2.0.5(377)and 2.0.5(378)
-This is also happening on Android live app 2.0.5(379). live app was completed even at level 2 still unable to recover wallet and when i

[2021-11-20 15:28] ASN-BitHyve opened #4768 "Gift flow"
There are 3 sections:

1) Available
2) Sent
3) Expired

Available shows the ones that the user creates as well as has received but hasn't moved into any account.

Sent shows gifts that 1) a user has sent but hasn't been accepted by the other party.... 2) sent and HAS BEEN accepted.

Expired shows gifts that a user Sent, but got expired as the other party didn't claim it. It also shows gifts that t

[2021-11-20 18:46] ASN-BitHyve opened #4769 "Timer getting cut"
I have enlarged my fonts slightly.
 ![Screenshot_20211121-001456_hexa stage~2.jpg](https://user-images.githubusercontent.com/68264080/142737742-461acfe1-926c-47a7-80b7-3cb370da1bda.jpg)

[2021-11-20 18:50] ASN-BitHyve opened #4770 "Text updation 1"
Remove "to"
![Screenshot_20211121-001930_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142737796-4b57da00-45d2-43cb-9db1-f29599704da6.jpg)

[2021-11-20 18:52] ASN-BitHyve opened #4771 "OTP not visible"
![Screenshot_20211121-002152_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142737860-5d6884c9-37f6-4217-a8c2-0d2c1e0fdc82.jpg)

[2021-11-21 01:00] ASN-BitHyve opened #4772 "Remove the word "card""
![Screenshot_20211121-062826_hexa stage~2.jpg](https://user-images.githubusercontent.com/68264080/142745309-105ed009-60c8-4844-9b2b-f3e0f7bb7fc1.jpg)

[2021-11-21 01:07] ASN-BitHyve opened #4773 "Improper message"
I had not sent the gift. Its still in the Available section. Still somehow the app thought that I had sent the gift.

![Screenshot_20211121-063630_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142745408-27844d46-712d-4e0f-863d-2070d2477ae0.jpg)

[2021-11-21 01:27] ASN-BitHyve opened #4774 "Gift is visible in the Available section even after I sent it back to Checking Account"
![Screenshot_20211121-065648_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142745752-cbce6675-6464-4461-ba8a-ca4519a1a871.jpg)

[2021-11-21 01:30] ASN-BitHyve commented on #4772
![Screenshot_20211121-065951_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142745794-3af93c92-ede4-4fb4-bbb8-97cc0effb687.jpg)

[2021-11-21 01:34] ASN-BitHyve opened #4775 ""Insufficient balance" wrong message at wrong time."
https://user-images.githubusercontent.com/68264080/142745862-bcfedf56-2085-491c-9b87-92171d095e02.mp4

[2021-11-21 01:55] ASN-BitHyve opened #4776 "Message to go on modal"
I think that message should go in a pop up and a user should be able to copy the OTP to send to their friend/family.

Along with the line already there, additionally it should say, "Please share this OTP with your contact."

![Screenshot_20211121-072259_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142746328-5b5c7796-b5a9-4211-998c-21070fceaf32.jpg)

[2021-11-21 02:00] ASN-BitHyve opened #4777 "Grammatical error"
With **an** OTP
![20211121_072852.jpg](https://user-images.githubusercontent.com/68264080/142746435-46dd7608-0583-4851-97d7-7f09ee1fdc06.jpg)

[2021-11-21 02:17] ASN-BitHyve opened #4778 "Long press should erase entire row"
https://user-images.githubusercontent.com/68264080/142746735-1fc9de19-8535-40d8-bd6f-91306fd85033.mp4

[2021-11-21 02:24] ASN-BitHyve opened #4779 "Receiver end not accepting OTP"
![Screenshot_20211121-075237_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142746903-173c6fff-f138-4d93-b704-06c5b223b50d.jpg)

https://user-images.githubusercontent.com/68264080/142746907-c56c84c5-16ce-4eef-9d41-0a11d9a981d3.mp4

[2021-11-21 02:54] akshaytikle commented on #4660
I already checked that issue , its only with iphone on telegram, other than that its all good on other devices, i searched for that and google and some other people have same issue and in solution they have provide some og tags  which we have already added already but still its showing wordpress logo, I am still looking into it, will let you know once it get sorted.

[2021-11-21 02:57] akshaytikle commented on #4723
In design i have already delivered with bar code, and yes it was working on live mode.

[2021-11-21 05:02] #4763 closed

[2021-11-21 06:25] antuz123 opened #4781 "Subdomains"
for any requests, it should be fnf.hexawallet.io

Look at all the other subdomains.

[2021-11-21 07:11] Parsh commented on #4771
Need more information about this scenario. Not able to recreate it.

[2021-11-21 07:16] antuz123 opened #4782 "Multiple gifts"
1. Need an advanced option on the create gift screen where you can enter a number. E.g. 5 for 5 gifts. The amount will remain the same that is entered on the main screen. The entry modal can be as simple as for custom priority
2. Once a number is entered, it shows on the gift screen like a simple indication that this is 5 gifts being created.
3. On the next success modal also an indication of how

[2021-11-21 07:35] Parsh commented on #4779
Unable to replicate, was able to accept the gift post entering OTP, need more details to debug this.

[2021-11-21 07:36] antuz123 commented on #4782
We will be creating 100 gifts of 10k each. The app should be able to do that. @Parsh @cakesoft-shashank

[2021-11-21 18:20] antuz123 commented on #4771
@ASN-BitHyve - how did you get this?

[2021-11-22 00:38] ASN-BitHyve commented on #4771
Strangely, I got that only once. As you can see behind that image. I am in the gift flow, have generated a gift and clicked on share via link.

[2021-11-22 00:59] summikhan11 commented on #4782
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/7b80e533-289b-466c-ab83-88825bcb68e1/

[2021-11-22 03:50] ASN-BitHyve opened #4788 "Put a loader message while a gift is getting created"
Abhilash to give text to go there.

[2021-11-22 04:29] cakesoft-swati opened #4789 "Create Gift: After click on button it is taking long time for next screen."
- After clicking this. It takes a long time for the next screen.
![temp (125)](https://user-images.githubusercontent.com/62699947/142801283-9690513c-caf4-4a4f-a797-2344c22831e4.jpg)

[2021-11-22 04:30] antuz123 commented on #4789
Need to put a grey screen with waiting timer here

[2021-11-22 04:33] cakesoft-swati opened #4790 "Gift Details:Share OTP with contact"
- Need to be open if sent but not accepted.
![temp (126)](https://user-images.githubusercontent.com/62699947/142801611-e9b1cb74-0cff-4267-a6b6-d26db855baef.jpg)

[2021-11-22 04:44] cakesoft-swati opened #4791 "UX issues:Check the icons."
- check icon
![temp (127)](https://user-images.githubusercontent.com/62699947/142801932-aa7a1c2f-9381-411e-9f41-b150e5b66a1c.jpg)

- icon should be like the ones listed above.
![temp (128)](https://user-images.githubusercontent.com/62699947/142802191-c3935692-810e-4ed7-ba52-71a1be8d1669.jpg)

- options icons missing
![temp (129)](https://user-images.githubusercontent.com/62699947/142802389-b75578f

[2021-11-22 04:46] cakesoft-shivani opened #4792 "PDF Recovery key and approval key changes"
- [x] **PDF**
- Allow PDF for RK 3, 4 and 5. No restriction
- When sharing RK, put a name there. In PDF it will be Recovery Key 3 for Anant's wallet and so on. So where ever there is 'Recovery Key' on PDF or contact put a number as well
- When PDF is shown as an option (3, 4 and 5), other options - contact and personal device should have "(recommended)" against them and not against the PDF
- The P

[2021-11-22 04:54] cakesoft-swati opened #4793 "App Info:Edit Wallet Name."
- shouldnt need to confirm twice, we ask this only once during the wallet set up. this should also have text-lenght and character restrictions.
![Screenshot_20211122-101928](https://user-images.githubusercontent.com/62699947/142803054-91bc56b4-34db-4c00-8391-4d8b739606d8.jpg)

[2021-11-22 05:16] ASN-BitHyve opened #4794 "Send Max Messaging"
When a user chooses Send Max to send all sats, the wallet automatically defaults to "Low Priority" fees. This needs to be communicated on the screen somewhere.

The message: " Selecting Send Max sets default priority to Low. You can change how fast sats get transferred using Custom Priority"

[2021-11-22 05:17] ASN-BitHyve opened #4795 "X button not working"

[2021-11-22 05:32] ASN-BitHyve commented on #4788
Text Message: "Packing your gift"

[2021-11-22 05:39] #4622 closed

[2021-11-22 05:42] ASN-BitHyve commented on #4702
@cakesoft-swati can you test if this is working as expected please?

[2021-11-22 05:43] #4382 closed

[2021-11-22 06:27] ASN-BitHyve commented on #4762
On top it should say, " Gift sats details"

Status should be" Gift created", "Gift sent" etc.

Button text: "Send Gift sats"

[2021-11-22 06:32] ASN-BitHyve opened #4797 "Last gift getting cut in list of gifts"
https://user-images.githubusercontent.com/68264080/142812191-51891f64-3d2e-4528-82b9-3779b048de1a.mp4

[2021-11-22 06:33] Parsh commented on #4762
This has already been addresses here: https://github.com/bithyve/hexa/issues/4772

[2021-11-22 06:34] ASN-BitHyve opened #4798 "Indication required"
Three dots or downward arrow required to indicate that a user could select some other account.![Screenshot_20211122-120333_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142813301-01ec847b-bdea-43c0-8e28-ca1d6e88d1a9.jpg)

[2021-11-22 06:37] ASN-BitHyve opened #4799 "Text change "unclaimed" > "unaccepted""
![Screenshot_20211122-120554_hexa stage~2.jpg](https://user-images.githubusercontent.com/68264080/142814908-9ea6e3a9-e8be-4ed8-afc4-aea81846d027.jpg)

[2021-11-22 06:43] ASN-BitHyve opened #4800 "OTP message should be visible on next screen."
The OTP message should be visible on the screen where a user is about to share QR or link.

The user should be able to copy the OTP to share with the receiver easily

[2021-11-22 06:52] Parsh commented on #4765
Gifts once added to the account are now visible under the expired section. However, there is going to be no corresponding transaction as the gift has simply been imported into the account and no txn has been performed.

[2021-11-22 07:33] antuz123 commented on #4800
We already have a modal that we use in F&F when an encryption key is selected - phone/ email or OTP

[2021-11-22 08:52] cakesoft-swati opened #4801 "Swan not working"
![Screenshot_20211122-130535](https://user-images.githubusercontent.com/62699947/142830923-b8dd4cc4-182d-4acb-82e7-1e41a6c53bb0.jpg)
-Getting error when I came back to the app after entering the passcode.

[2021-11-22 09:40] cakesoft-swati commented on #4702
- Verified this issue on live app v1.7.3(301).I'm able to restore Hexa 1.0

[2021-11-22 09:42] cakesoft-swati commented on #4761
- Verified this issue on live app v2.0.5(379)

[2021-11-22 09:42] #4761 closed

[2021-11-22 09:47] cakesoft-swati commented on #4750
-Verified this issue on live app v2.0.5(379)

[2021-11-22 09:47] #4750 closed

[2021-11-22 09:51] cakesoft-swati commented on #4751
- Verified this issue on staging app v2.0.5(379)

[2021-11-22 09:51] #4751 closed

[2021-11-22 09:56] cakesoft-swati commented on #4749
- Verified this issue on staging app v2.0.5(379)

[2021-11-22 09:56] #4749 closed

[2021-11-22 09:57] cakesoft-swati commented on #4639
- Verified this issue on live app v2.0.5(379)

[2021-11-22 09:57] #4639 closed

[2021-11-22 09:58] cakesoft-swati commented on #4634
- Verified this issue on staging app v2.0.5(379)

[2021-11-22 09:58] #4634 closed

[2021-11-22 09:59] ASN-BitHyve opened #4803 "Status should change"
I sent Anant a gift. He accepted it. I got a notification for it as well. The status in sent section of that particular gift should change to "Accepted"
![Screenshot_20211122-152830_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142841095-df26d40f-84a8-4e23-bd2f-a7eae269de25.jpg)

[2021-11-22 10:01] ASN-BitHyve opened #4804 "Text change"
Gifts that were "not accepted" instead of unclaimed.

![Screenshot_20211122-153047_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142841355-aa412476-17c9-4df9-ae51-9e46b15d6eb6.jpg)

[2021-11-22 10:02] Parsh commented on #4771
@ASN-BitHyve @cakesoft-swati I'm unable to replicate this. Marking it as fixed for now.

[2021-11-22 10:13] ASN-BitHyve commented on #4759
@Parsh there was a mistake from me in the Expired text above. I have changed the word unclaimed to "not accepted". Please update in the app. Have removed the fixed label. Apologies for the inconvenience.

[2021-11-22 10:18] ASN-BitHyve opened #4805 "Different colored logos for stage, dev, and live please!"

[2021-11-22 10:23] ASN-BitHyve opened #4806 ""Create a gift" could use some meat"
This button looks like a free radical once this screen is populated. Plus I feel he's cutting a sorry figure in front of all the prim and proper buttons above and the gifts below. Request you to give that button some much needed gravitas :)

![Screenshot_20211122-154935_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/142844609-411e1ec3-2159-4331-b18e-30a66d452fb0.jpg)

[2021-11-22 11:02] ASN-BitHyve opened #4807 "Reclaimed amount not showing in Account"
https://user-images.githubusercontent.com/68264080/142849322-43a64d82-29f9-4fe1-8b70-8a84060e8455.mp4

[2021-11-22 11:31] ASN-BitHyve opened #4808 "User should not be able to send the gift they put back into account"
https://user-images.githubusercontent.com/68264080/142854063-4270b7ff-06e2-4f88-8542-37652a2cbcd9.mp4

[2021-11-22 11:46] ASN-BitHyve opened #4809 "Received amount showing in recent transaction after hard refresh as opposed to immediately"

[2021-11-22 11:51] ASN-BitHyve opened #4811 "Details in received section"
In the drop down menu, a receiver should be able to see who sent the gift, the message if any and the theme.

https://user-images.githubusercontent.com/68264080/142856834-7292c755-5325-4e6b-a5ff-67b6c79b5351.mp4

[2021-11-22 11:58] Parsh commented on #4809
Auto-refresh has been enabled(on view account, post association)

[2021-11-22 12:04] cakesoft-swati commented on #4771
- Unable to replicate this issue.Verified on live app v2.0.5(379)

[2021-11-22 12:04] #4771 closed

[2021-11-22 12:10] cakesoft-swati commented on #4418
- Verified this issue on live app v2.0.5(379)

[2021-11-22 12:13] cakesoft-swati commented on #4275
- Verified this issue on staging app v2.0.5(378)

[2021-11-22 12:13] #4275 closed

[2021-11-22 12:13] cakesoft-swati commented on #4272
- Verified this issue on staging app v2.0.5(378)

[2021-11-22 12:13] #4272 closed

[2021-11-22 12:19] antuz123 commented on #4788
Grey screen with loader. Rest move to 2.1

[2021-11-22 13:09] antuz123 opened #4816 "Same address multiple txns"
When you use the same address and receive two transaction (tried in a savings account), it does not show up as two transactions. I can only see the first one though the balance has changed.

Not sure if it uses the UTXO to properly send but transaction is definitely not showing

[2021-11-22 13:38] summikhan11 commented on #4806
please implement the design as specified.

[2021-11-22 16:36] antuz123 commented on #4713
Please do a release for 1.0 patch

[2021-11-23 01:42] antuz123 opened #4823 "Mac certificate"
![image](https://user-images.githubusercontent.com/43998049/142959744-f472e372-2a27-4d0a-9a8b-6e588cccad9c.jpeg)

[2021-11-23 02:28] summikhan11 opened #4824 "Ui Assignment - Radio Buttons"
Standardise Radio button design

1. Wallet Creation step 2
2. Select from F&F
3. Associate contact from address book

[2021-11-23 02:29] summikhan11 opened #4825 "FAQ's Section Marketing Website"

[2021-11-23 02:30] summikhan11 opened #4826 "Currency Switches"
create switches with symbols for all supported currencies

get a list of supported currencies

[2021-11-23 02:31] summikhan11 opened #4827 "List of statuses on Home Screens"

[2021-11-23 02:36] summikhan11 opened #4828 "Use icons from bitcoin design guide"
https://bitcoinicons.com

[2021-11-23 02:39] summikhan11 opened #4829 "Empty States"
1. F&F
2. Gifts
3. F&F Details
4. Notifications
5. Account - no transactions
6. Donation webpage - no supporters & no transactions

[2021-11-23 02:40] summikhan11 opened #4830 "Note Styling & Content"

[2021-11-23 02:42] summikhan11 opened #4831 "Account Colors"
Standardise Account colors

1. Test
2. Checking
3. Savings
4. Donation
5. Lightning
5. Deposit

6. F&F Account
7. Joint Account
8. Community Account
9. Swan Account?

10. View Only Account

[2021-11-23 02:52] summikhan11 opened #4832 "Ui Issue - Terms & Service Marketing Website"
change design to

https://xd.adobe.com/view/ff175839-dd75-4d46-8208-5fe20355d683-aa44/screen/b59592d6-d75d-4cca-97b8-1aa76427dd91/

[2021-11-23 03:55] antuz123 commented on #4789
Need a loader modal with a note "Wrapping your gift"

[2021-11-23 04:49] summikhan11 commented on #4713
https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/
text updated

[2021-11-23 04:58] cakesoft-shashank opened #4833 "Loader message describing gift feature"
![image](https://user-images.githubusercontent.com/50690016/142973338-13e101e2-2fd7-4927-9032-503c1399853a.png)

[2021-11-23 05:02] Parsh opened #4834 "Create Gift"
Gift creation is taking time(>3s), look if we can ramp the creation process up.

[2021-11-23 05:06] Parsh commented on #4789
Looking into gift creation ramp-up at https://github.com/bithyve/hexa/issues/4834

[2021-11-23 05:07] cakesoft-shivani opened #4835 "User can add PDF for Primary Keeper"
User upgrade or reinstall app then user able to add pdf for 1st keeper of level 2

[2021-11-23 05:45] cakesoft-swati opened #4836 "Gift details:status"
- Gift added to an account is a status here.
![giftadded](https://user-images.githubusercontent.com/62699947/142976467-d41e57c6-a2c6-439d-9069-b90f85ea1ba0.jpg)

[2021-11-23 05:49] cakesoft-swati opened #4837 "Send Gift:Wrong message."
- The messages here are still wrong. The 30 day sentence is the instructions in the previous screen. And the message from the user is the second message, not what is here.
![temp (130)](https://user-images.githubusercontent.com/62699947/142976726-36c918f9-eec5-4324-8c9d-4b8cf5221246.jpg)

[2021-11-23 05:54] cakesoft-swati opened #4838 "Create gift:Advanced option for multiple gifts"
- This should appear only when advanced option is chosen from setting on the top. Else there is no text for multiple gifts
![advancegift](https://user-images.githubusercontent.com/62699947/142976857-822d29bc-63f6-4c03-aa22-ff5b44733344.jpg)

[2021-11-23 05:57] cakesoft-swati opened #4839 "The gift added back to the account should be green as a transaction."
- When you add a gift back into an account, it should be green as a transaction coming in.
![giftback](https://user-images.githubusercontent.com/62699947/142977122-4e591a7d-5f2a-4b21-93b3-8e7b97f3548b.jpg)

[2021-11-23 05:59] cakesoft-swati opened #4840 "Manage gifts:Pull down should refresh the list."
- Pull down should refresh the list for any of the tabs.
![pulldowngift](https://user-images.githubusercontent.com/62699947/142977324-5cb55dd7-f2ec-4a01-ac9f-881f134991fe.jpg)

[2021-11-23 06:06] cakesoft-swati opened #4841 "Reclaimed gifts:Didn't see that coming back to the account."
- Reclaimed gifts are not coming back in here.
![reclaimegft](https://user-images.githubusercontent.com/62699947/142977727-50d8e9a9-8844-48f3-92fb-be35558f7f05.jpg)

[2021-11-23 06:08] cakesoft-swati opened #4842 "Gift advanced options"
- The OTP or number or email used
 1. Should be more prominent
 2. It should be copiable by touching
 3. Should be changeable if you want to.
 4. You could choose encryption options available or choose not to encrypt it. (Very similar to what we do with F&F requests).

[2021-11-23 06:12] antuz123 commented on #4703
@cakesoft-swati - this is fixed, only test it. I was checking on the live app which does not have the fix.

[2021-11-23 06:47] cakesoft-swati opened #4844 "Buy BTC:Buy Bitcoin with Ramp/Wyre."
![File (81)](https://user-images.githubusercontent.com/62699947/142980553-0125af63-2593-4e29-bba6-3a84cac22bbf.jpg)
- Should be able to change the account. Plus I had changed the account name, this is still showing the old name.

[2021-11-23 06:54] cakesoft-swati opened #4845 "Transaction not showing up in the list of transactions."
- Sent a normal transaction. Not showing up in the list of transactions though the total is down and the txn has been broadcasted as per explorer.
-I had too many trancations in the txn list. When I sent a normal txn it didn't show up in the list.

[2021-11-23 07:02] Parsh commented on #4841
I've tried the following combinations:
- gift added back to account post creation
- gift created, sent and reclaimed, and then added back to the account
- gift created, sent, accepted by other party and added to account

All the 3 scenarios worked perfectly fine on my end, with gift sats getting credited into the associated account. While the transaction was visible only in the 3rd scenario(when s

[2021-11-23 07:04] Parsh commented on #4837
@ASN-BitHyve I'll make the necessary changes once I've apt message from your end.

[2021-11-23 07:20] cakesoft-swati opened #4846 "Donation account deeplink issue."
- When we paste donation link in browser it provides me option "Open with hexa or different app" and when we open it with hexa it opens in hexa app but nothing happens after that.
- So, it should open in browser and not in hexa app.
- I have Hexa 1.0,Hexa live app 2.0.5(381) and Hexa staging app 2.0.5(381) installed on phone.But the option is showing only Hexa 1.0 app.
- This is happening on Andro

[2021-11-23 07:21] ASN-BitHyve commented on #4837
1) Gift Card > Gift sats

2) "You have received a gift from (name of gift giver). You can choose to add the sats to any of your accounts, or forward the gift to any of your friends and family (at no extra fees!)"

@Parsh

[2021-11-23 07:22] antuz123 opened #4847 "Remove the OK screen"
When you click on a link the browser opens with a OK button. This did not happen previously. Can we not have that screen.

[2021-11-23 07:35] cakesoft-swati commented on #4775
- Verified this issue on live app v2.0.5(381)

[2021-11-23 07:35] #4775 closed

[2021-11-23 07:38] cakesoft-swati opened #4848 "Create New Gift:UX issue"
![temp (132)](https://user-images.githubusercontent.com/62699947/142985821-a82861ab-ec00-4972-a34f-bdaafd9541d0.jpg).
- When we go inside by clicking on Create New Gift, then this text is showing like this.

[2021-11-23 07:39] cakesoft-swati commented on #4798
- Verified this issue on live app v2.0.5(381)

[2021-11-23 07:39] #4798 closed

[2021-11-23 08:26] cakesoft-swati commented on #4799
- Verified this issue on live app v2.0.5(381)

[2021-11-23 08:26] #4799 closed

[2021-11-23 08:28] cakesoft-swati commented on #4797
- Still having the same issue on live app v2.0.5(381)
![temp (133)](https://user-images.githubusercontent.com/62699947/142991314-0510e245-8f20-479e-9b5f-f2c9383fdb10.jpg)

[2021-11-23 08:30] cakesoft-swati commented on #4777
- Verified this issue on staging app v2.0.5(381)

[2021-11-23 08:30] #4777 closed

[2021-11-23 08:31] cakesoft-swati commented on #4774
- Verified this issue on live app v2.0.5(381)

[2021-11-23 08:31] #4774 closed

[2021-11-23 08:32] cakesoft-swati commented on #4773
- Verified this issue on live app v2.0.5(381)

[2021-11-23 08:32] #4773 closed

[2021-11-23 08:59] Parsh commented on #4834
Gift creation is taking standard tx creation, signing, and broadcasting time. However, I've updated the saga to communicate the creation right after successful tx broadcast rather than post DB updates. It might add a little bit of speed but not a lot.

[2021-11-23 09:04] Parsh commented on #4789
There seems to be not much scope when it comes to ramping the creation process up, however, I've done [some changes](https://github.com/bithyve/hexa/issues/4834#issuecomment-976298006) that may help a little.

We might want to have a loader modal while the creation is ongoing.

[2021-11-23 10:13] ASN-BitHyve commented on #4833
Heading: "Gift Sats"
Sub-heading: "Send sats as gifts to your friends and family. Gift sats that you receive can be added to your account or gifted further without any extra fees"

@cakesoft-shashank

[2021-11-23 11:06] ASN-BitHyve opened #4850 "Require images we've used in the app stores"
Need photos we've put in our app stores to be put in photo placeholders in this link:

https://www.meetup.com/meetup-group-ZrnXLmjB/events/cfszksyccqbbc/

[2021-11-23 11:15] cakesoft-swati commented on #4772
- Verified this issue on staging app v2.0.5(381)

[2021-11-23 11:15] #4772 closed

[2021-11-23 11:22] cakesoft-swati commented on #4767
- Verified this issue on staging app v2.0.5(381)

[2021-11-23 11:22] #4767 closed

[2021-11-23 11:31] cakesoft-swati commented on #4765
- Verified this issue on staging app v2.0.5(381)

[2021-11-23 11:31] #4765 closed

[2021-11-23 11:41] cakesoft-swati commented on #4764
- Unable to see the option to be in the $/£ amount

[2021-11-23 11:41] cakesoft-swati commented on #4766
- Able to reproduce this issue on staging app v2.0.5(381)

[2021-11-23 11:43] cakesoft-swati commented on #4757
- Verified this issue on staging app v2.0.5(381)

[2021-11-23 11:43] #4757 closed

[2021-11-23 11:48] cakesoft-shivani commented on #4789
@summikhan11 Need UX for the modal like this Or just Image for this modal to add on gift creation
![Screenshot_20211123-171643_hexa dev](https://user-images.githubusercontent.com/50820210/143018980-d8b0d5f1-a42c-4020-8ddd-a0ade17e4491.jpg)

[2021-11-23 12:03] summikhan11 commented on #4850
https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/

you can download from here

[2021-11-23 12:07] summikhan11 commented on #4791
Settings & More :
https://xd.adobe.com/view/902817ab-b10b-4f5e-8991-1f2142fd4a84-c57b/

App Info:
https://xd.adobe.com/view/902817ab-b10b-4f5e-8991-1f2142fd4a84-c57b/screen/1bc6f66e-02d7-4a1c-abef-8f26e965dd58/specs/

Account Management:
https://xd.adobe.com/view/902817ab-b10b-4f5e-8991-1f2142fd4a84-c57b/screen/45609ea9-a5d2-42c4-a0f0-a01fd955be83/specs/

[2021-11-23 12:12] cakesoft-shashank commented on #4801
https://api.swanbitcoin.com/oidc/token is failing with status code 400
Our request is:

headers: {
      Accept: '*/*',
      'Content-Type': 'application/x-www-form-urlencoded',
      'Cache-Control': 'no-cache',
      'Sec-Fetch-Dest': 'empty',
      'Sec-Fetch-Mode': 'cors',
      'User-Agent': 'axios/0.18.1',
      'Content-Length': 415
    },

data: {
  "client_id": "hexa",
  "client_secret":

[2021-11-23 12:23] cakesoft-swati commented on #4842
- The OTP message should be visible on the screen where a user is about to share QR or link.
- The user should be able to copy the OTP to share with the receiver easily.
- We already have a modal that we use in F&F when an encryption key is selected - phone/ email or OTP

[2021-11-23 12:24] cakesoft-swati commented on #4800
Duplicate of #4842

[2021-11-23 12:24] #4800 closed

[2021-11-23 12:29] summikhan11 commented on #4789
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/723f353e-15ed-44f6-982b-38bff01b9bbf/

[2021-11-23 12:39] antuz123 commented on #4845
Assume this for 2.0 and check

[2021-11-23 12:56] cakesoft-swati commented on #4766
- This needs to have an option to be in the $/£ amount
![needtooption](https://user-images.githubusercontent.com/62699947/142748051-3c6aa6a7-0343-4411-b6e7-c3d65a61550b.jpg)

[2021-11-23 13:03] cakesoft-swati commented on #4764
Dupliate of #4766

[2021-11-23 13:03] #4764 closed

[2021-11-23 13:28] cakesoft-swati opened #4853 "Send Gift:Add recipient in F&F-Associate a contact using Skip."
![Screenshot_20211123-172340](https://user-images.githubusercontent.com/62699947/143024431-3e537597-aaee-4c22-972a-736066220943.jpg)
- When we add recipient in F&F while sending gift and we have selected Skip contact then it is showing blank icon and also showing a message "F&F contact number missing".

[2021-11-23 14:15] cakesoft-swati commented on #4321
- Verified this issue on live app v2.0.5(381)

[2021-11-23 14:15] #4321 closed

[2021-11-23 14:17] cakesoft-swati commented on #4330
- Unable to reproduce this issue.

[2021-11-23 14:29] cakesoft-swati commented on #4404
- Verified this issue on staging ap v2.0.5(381)

[2021-11-23 14:29] #4404 closed

[2021-11-23 14:29] #4418 closed

[2021-11-23 14:36] cakesoft-swati commented on #4455
- Verified this issue on staging app v2.0.5(381)

[2021-11-23 14:36] #4455 closed

[2021-11-23 14:42] cakesoft-swati commented on #4724
- Verified this issue on staging app v2.0.5(381)

[2021-11-23 14:42] #4724 closed

[2021-11-23 17:17] antuz123 opened #4858 "When reclaiming Gift"
A confirmation message is needed

[2021-11-24 04:34] cakesoft-swati commented on #4838
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 04:34] #4838 closed

[2021-11-24 04:35] cakesoft-swati commented on #4753
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 04:35] #4753 closed

[2021-11-24 04:36] cakesoft-swati commented on #4848
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 04:36] #4848 closed

[2021-11-24 04:51] #4850 closed

[2021-11-24 04:52] cakesoft-swati commented on #4797
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 04:52] #4797 closed

[2021-11-24 04:52] cakesoft-swati commented on #4833
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 04:52] #4833 closed

[2021-11-24 04:53] cakesoft-swati commented on #4834
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 04:53] #4834 closed

[2021-11-24 05:26] cakesoft-swati commented on #4803
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 05:26] #4803 closed

[2021-11-24 05:26] cakesoft-swati commented on #4788
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 05:26] #4788 closed

[2021-11-24 05:33] cakesoft-swati commented on #4782
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 05:33] #4782 closed

[2021-11-24 05:37] cakesoft-swati commented on #4756
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 05:37] #4756 closed

[2021-11-24 05:37] cakesoft-swati commented on #4754
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 05:40] summikhan11 commented on #4842
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/1938a770-0d88-40ae-a590-cb528420fb18/

there's a few more options there.

[2021-11-24 05:47] cakesoft-swati commented on #4752
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 05:47] #4752 closed

[2021-11-24 05:57] antuz123 commented on #4842
If there is no encryption chosen, then the link code should be longer (?) @cakesoft-shashank - need to discuss this

[2021-11-24 05:59] cakesoft-shashank commented on #4842
You mean shortlink?

[2021-11-24 06:06] cakesoft-swati commented on #4837
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 06:06] #4837 closed

[2021-11-24 07:52] antuz123 commented on #4842
Yes, see here:
<img width="828" alt="Screenshot 2021-11-24 at 13 21 11" src="https://user-images.githubusercontent.com/43998049/143196895-22ebf7bd-de1a-430a-906b-8591ca3e8b2c.png">

[2021-11-24 08:02] cakesoft-swati commented on #4807
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:02] #4807 closed

[2021-11-24 08:03] cakesoft-swati commented on #4809
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:03] #4809 closed

[2021-11-24 08:05] cakesoft-swati commented on #4841
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:05] #4841 closed

[2021-11-24 08:06] antuz123 commented on #4842
@cakesoft-shashank:
We should go with 10 characters - 6 years option. This will be the default
- This will remove the attack where someone else can brute force and guess the link.
- This should also be the default for any shortlink - F&F request, Donations, etc

@summikhan11 @Parsh
It is however still possible for man in the middle or BitHyve to attack this
- For that we will give an option of add

[2021-11-24 08:07] cakesoft-swati commented on #4808
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:07] #4808 closed

[2021-11-24 08:09] cakesoft-swati commented on #4790
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:09] #4790 closed

[2021-11-24 08:10] cakesoft-swati commented on #4789
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:10] #4789 closed

[2021-11-24 08:10] cakesoft-swati commented on #4779
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:10] #4779 closed

[2021-11-24 08:11] cakesoft-swati commented on #4769
- Unable to replicate this issue.- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:11] #4769 closed

[2021-11-24 08:12] cakesoft-swati commented on #4768
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:12] #4768 closed

[2021-11-24 08:13] cakesoft-swati commented on #4762
- Verified this issue on staging app v2.0.5(382)
- Duplicate of #4772

[2021-11-24 08:13] #4762 closed

[2021-11-24 08:13] cakesoft-swati commented on #4760
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:13] #4760 closed

[2021-11-24 08:15] cakesoft-swati commented on #4759
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:15] #4759 closed

[2021-11-24 08:16] cakesoft-swati commented on #4758
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:19] cakesoft-swati commented on #4758
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:24] cakesoft-swati commented on #4755
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:24] #4755 closed

[2021-11-24 08:25] cakesoft-swati commented on #4736
- Verified this issue on staging app v2.0.5(382).Need the confirmation from user.

[2021-11-24 08:27] cakesoft-swati commented on #4731
- Unable to replicate this issue.Verified on staging app v2.0.5(382)

[2021-11-24 08:27] Parsh opened #4860 "Donation Account <> Gift"
Gift can not be added to a donation account, we should not show donation account during the gift association flow.

[2021-11-24 08:31] cakesoft-swati commented on #4703
- Tested on staging app v2.0.5(378).I was able to send from swan.

[2021-11-24 08:34] cakesoft-swati commented on #4700
- Verified this issue on staging app v2.0.5(282)

[2021-11-24 08:36] antuz123 commented on #4860
Also Swan account? @Parsh

[2021-11-24 08:36] Parsh commented on #4860
Yes

[2021-11-24 08:41] cakesoft-swati commented on #4689
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:41] #4689 closed

[2021-11-24 08:42] cakesoft-swati commented on #4655
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:42] #4655 closed

[2021-11-24 08:42] cakesoft-swati commented on #4643
- Verified this issue on staging app v2.0.5(379)

[2021-11-24 08:42] #4643 closed

[2021-11-24 08:43] cakesoft-swati commented on #4641
- verified this issue on staging app v2.0.5(379).Swan having linking issue but there is already an issue for this

[2021-11-24 08:43] #4641 closed

[2021-11-24 08:44] cakesoft-swati commented on #4638
-Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:44] #4638 closed

[2021-11-24 08:46] cakesoft-shivani opened #4861 "Show total for multiple gifts on creation"

[2021-11-24 08:50] cakesoft-swati commented on #4617
-Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:50] #4617 closed

[2021-11-24 08:51] cakesoft-swati commented on #4614
-Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:51] #4614 closed

[2021-11-24 08:52] cakesoft-swati commented on #4579
-Verified this issue on staging app v2.0.5(382)

[2021-11-24 08:52] #4579 closed

[2021-11-24 08:54] #4563 closed

[2021-11-24 09:00] cakesoft-swati opened #4862 "App is crashing when we do backup on device."
- When we click on Level 3> Share Recovery Key 1> Backup on Device, the app crashes.
- It is also happening on level 2> Share recovery key 2.

[2021-11-24 09:17] cakesoft-swati opened #4863 "Take out the gift theme option"
- Take out the gift theme option. The user will only have default gift option that can't be changed. . It is only a UI change, no drop down needed.
- Change the text to

Gift Sats
A gift that keeps giving

@Abhilash Nair (this is text that sender sees, not receiver)

[2021-11-24 09:19] cakesoft-shashank commented on #4758
Need to check how we can redirect to the sent section. I have redirected to the manage gifts page

[2021-11-24 09:46] cakesoft-swati opened #4864 "Backup with contact."
![Screenshot_20211124-150548](https://user-images.githubusercontent.com/62699947/143213302-1e97d495-f93e-4557-a82d-29f9c7c8ad5d.jpg)
-when we select Backup with contact,there we can see Personal device as a Friends and Family above the contact list.

[2021-11-24 09:49] cakesoft-swati commented on #4544
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 09:49] #4544 closed

[2021-11-24 09:49] cakesoft-swati commented on #4454
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 09:49] #4454 closed

[2021-11-24 09:49] #4370 closed

[2021-11-24 09:49] #4330 closed

[2021-11-24 09:53] cakesoft-swati commented on #4457
- Verified this issue on staging app v2.0.5(382)

[2021-11-24 09:53] #4457 closed

[2021-11-24 09:56] cakesoft-swati commented on #4356
-Closing this issue as discussed with dev.

[2021-11-24 09:56] #4356 closed

[2021-11-24 11:04] Parsh opened #4865 "Shadow gift"
Gift w/ value less than the dust limit are getting created, tho the transaction has actually been rejected by the core node.

We should throw err on dust tx thereby avoiding shadow gift creation

[2021-11-24 11:09] Parsh opened #4867 "Gift creation failure modal"
Connected to #4865

When gift creation fails, we dispatch giftCreationSuccess with false as the parameter, this should let the UI know that the gift creation has failed and show appropriate failure modal.

Right now when the gift creation process fails, the gift creation modal just keeps showing.

[2021-11-24 12:07] antuz123 opened #4870 "Min sats for gift"
"Minimum gift amount 1000 sats" add text

[2021-11-24 12:22] cakesoft-shashank commented on #4842
@antuz123 we have these options

[code]

[2021-11-24 12:56] Parsh commented on #4679
@antuz123 @summikhan11  Where do we need these toasts to appear? Or is that we should replace the default RN toast with these to have a consistent UI?

[2021-11-24 14:01] antuz123 commented on #4842
@cakesoft-shashank - need to figure out if we can do a 10 character long thing else wee will go with 17

[2021-11-24 14:19] violet360 opened #4871 "neutrino integration"
integrate neutrino for lightning integration, in long term it will help replace the golang wrapper and the api calls will pass through neutrino.

[2021-11-24 18:33] antuz123 opened #4876 "Level 2 flow"
https://twitter.com/statusquont/status/1463571946646294534?s=21

[2021-11-25 04:18] summikhan11 commented on #4861
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/7b80e533-289b-466c-ab83-88825bcb68e1/

will this total include fee too? @cakesoft-shivani

[2021-11-25 04:19] ASN-BitHyve opened #4877 "BTC button shadow"
1) To me it seems a) Too pronounced b) A little disoriented - in iOS
2) Shadow looks completely different in iOS versus Android.

@summikhan11  to point the dev to the correct asset, the dev to ensure uniformity.

![BTC button shadow](https://user-images.githubusercontent.com/68264080/143378893-c6ddefe6-fc81-48ed-bc08-124bc2082d66.jpg)
![BTC button shadow 2](https://user-images.githubusercontent.c

[2021-11-25 04:27] ASN-BitHyve opened #4878 "Look inconsistent"
This section looks inconsistent with the rest of the app.

@summikhan11 to point to correct asset, dev to implement once asset received.

![Screenshot_20211125-095523_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/143379656-c07120d9-fc75-4416-bb10-a3153982f629.jpg)

[2021-11-25 04:52] cakesoft-shashank opened #4879 "Ability to paste shortlink in textinput"

[2021-11-25 04:52] summikhan11 commented on #4878
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/698c6ede-23b1-4318-924a-9954a8ce361d/

this needs to be changed on iOs as well.

[2021-11-25 05:34] summikhan11 commented on #4877
https://xd.adobe.com/view/be4bd2ea-118c-4aff-959f-e3243e25ca8f-eb18/

[2021-11-25 06:04] ASN-BitHyve opened #4880 "Remove extra space"
![Screenshot_20211125-113330_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/143388297-9d02adfc-ea77-4268-8fc4-9d23ff9926a5.jpg)

[2021-11-25 06:20] antuz123 commented on #4880
@ASN-BitHyve - look at this message with many options. There are other textual mistakes. Plus cloud/ drive should not be an option there.

[2021-11-25 06:38] ASN-BitHyve opened #4881 "Tapping anywhere outside the modal should allow me to go back"
![Screenshot_20211125-120800_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/143392107-d75de62f-41e0-4666-9c98-cd393b612bb5.jpg)

[2021-11-25 07:20] just1and0 commented on #4683
@summikhan11 @antuz123 is there a figma file for the designs I can look at? so I get the correct dimensions?

[2021-11-25 07:22] summikhan11 commented on #4683
we use xd, I'll attach a link here
https://xd.adobe.com/view/be4bd2ea-118c-4aff-959f-e3243e25ca8f-eb18/screen/0e3ab21b-d16c-4387-a762-2251d4675ddf/

[2021-11-25 07:24] summikhan11 commented on #4312
the text is like that in a lot of places, im sending beta feedback for those but it'll be difficult to post each link here

[2021-11-25 07:33] just1and0 commented on #4683
thanks

[2021-11-25 07:39] Raheel1258 commented on #4561
@Parsh  Halting it for now as server-side work is yet to be completed on this one as instructed by @cakesoft-shivani

[2021-11-25 07:50] ASN-BitHyve commented on #4880
Dear Dev, kindly replace the text in the image with this:  "To proceed please scan the Approval Key stored on your Personal Device or Personal Copy(pdf)".

[2021-11-25 07:50] Raheel1258 commented on #4312
Please forward me the beta feedback here so that I can fix them ASAP

[2021-11-25 09:01] cakesoft-swati opened #4883 "Backup using a PDF:Share Now button is not responding."
- On Level 3 I chose "Backup using a PDF" option then when I clicked on "Share Now" button it was not responding.Not showig share options modal.

[2021-11-25 09:08] just1and0 commented on #4679
@summikhan11 what's the plan for this?

[2021-11-25 09:13] cakesoft-shivani commented on #4861
@Parsh

[2021-11-25 09:23] just1and0 commented on #4776
@summikhan11 is there a UI for this change or it's fine just to come up with something on my own ?

[2021-11-25 09:29] summikhan11 commented on #4776
i'll add a link

[2021-11-25 09:56] Parsh commented on #4845
@cakesoft-swati I've not been able to replicate it on Hexa 2.0. Can you please try and come back with more details if you are able to recreate it.

[2021-11-25 09:58] Parsh commented on #4861
@antuz123 Any comments on that?

[2021-11-25 09:58] cakesoft-swati opened #4884 "'Change' button is not visible for Device type."

[2021-11-25 10:01] cakesoft-shivani opened #4885 "Device type not showing change button"

[2021-11-25 10:02] #4885 closed

[2021-11-25 10:12] cakesoft-swati opened #4886 "Post restore issues."
- I had completed level 2 with Personal Device 1 and Personal Device 2.
- I had created one gift and reclaimed it.
- I also changd the wallet name.Sent some sats from savings account.

- [x]  But at the time of recovery it showed me the Old wallet name and also showed that the backup at level 1.Still I recovered the wallet.After recovery it showed that the  only  level 1 was completed and also the

[2021-11-25 10:36] cakesoft-swati opened #4887 "Incorrect message on home page."
![temp (134)](https://user-images.githubusercontent.com/62699947/143425804-577d4b6d-9d17-46c2-b61c-d3d3e83572f0.jpg)
- Level 3 was complete still it was showing incorrect message on Home page.

[2021-11-25 10:59] ASN-BitHyve opened #4888 "Text error"
![Screenshot_20211125-163106_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/143429691-d787fccc-4c10-4a66-8154-11f24995e982.jpg)

[2021-11-25 11:04] just1and0 commented on #4685
hey @summikhan11 can I get the link for this, or better still, could you add my email to the design so I can go through them myself? it's ayoshokz@gmail.com

[2021-11-25 11:05] ASN-BitHyve opened #4889 "Can we distribute the buttons evenly?"
![Screenshot_20211125-163439_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/143430315-f1ad73f6-89d6-4dff-8eaf-a2beb8cbc1d3.jpg)

[2021-11-25 11:20] Parsh commented on #4766
@cakesoft-shashank can you implement the switch? I'll do the conversion part based on the state of the switch.

[2021-11-25 11:22] summikhan11 commented on #4685
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/screen/577ebacd-80e0-449f-a332-a73f2908307c/

we use adobe xd its very similar to sigma, I'll walk you through it on call @just1and0

[2021-11-25 11:24] summikhan11 commented on #4889
@cakesoft-swati please check the fonts on this screen.

[2021-11-25 11:48] cakesoft-swati opened #4890 "App is crashing on Create gift."
- When we select any currecny from Settings > Currency & Language and directly go to Gift sats > Create New Gift the the app is crashing.

[2021-11-25 12:02] cakesoft-swati opened #4891 "Create gift with 2FA account."
- Create gift from a 2FA account: It will need a 2FA.
- We should not show any 2FA account.It is not working right now.

[2021-11-25 12:45] summikhan11 commented on #4679
![Toast - copied](https://user-images.githubusercontent.com/85475736/143444187-af54eb85-9ed4-4cb1-b34c-fb12371a9c13.png)

these toasts need to be changed to the design shared

[2021-11-25 14:38] cakesoft-swati opened #4893 "Savings account post recovery."
- I had completed level 3 But the message was incorrect on Home screen.
- After that I received some sats in savings account and restored the app.
- After post recovery level 2 was completed still I could not use the savings account.It was showing me the message "Complete Level 2".
![Screenshot_20211125-184724](https://user-images.githubusercontent.com/62699947/143460382-651803b5-9a68-4373-ae95-03

[2021-11-25 18:22] antuz123 opened #4894 "Saving Account un-hide"
I created 2 Savings Account

Changed the name of all the accounts including the Checking Account

Hide all the three accounts

Not able to unhide them

[2021-11-25 18:53] antuz123 opened #4895 "Change Keeper"
Changed the Keeper on L3. Thee old Keeper still showed as Keeping me though needed an approval key to scan. It should not show me as a Keeper. Only F&F

Downgrade to F&F

[2021-11-25 18:56] #3082 closed

[2021-11-25 18:58] antuz123 opened #4896 "Ability to change answer"
The user should be able to change the encryption mechanism if they want to.

From the answer/ password details screen when they press change, it should take them back to the option as during wallet creation where they can choose a new password or answer. No skip option.

[2021-11-25 19:01] antuz123 opened #4897 "Ability to restore without using the cloud"
The user should be able to cancel the modal where cloud options are given and directly restore from any other two/ three keys

Once restored, the other RKs are marked red unless confirmed or changed.

[2021-11-25 19:04] antuz123 opened #4898 "Not use cloud for Level 1"
If the user wants they can change the Keeper for the cloud option.

They may have done on cloud but want to change or may have skipped thee option entirely. The details screen will give a share now option with 4 options - cloud, Contact, Device and PDF.

So it applies that any other Keeper can also be cloud if not already one

[2021-11-25 19:10] antuz123 commented on #4766
@Parsh - pls take help from Tobi

[2021-11-25 19:13] antuz123 commented on #4842
I think Shashank has implemented the 17 char OTP. Rest can be done with Tobi @Parsh

[2021-11-25 20:09] antuz123 commented on #4894
Then I also hid the Donations and Swan account. Not able to unhide them either.

Restored the wallet on another device, still not able to see any account.

[2021-11-26 02:40] antuz123 commented on #4861
Yes disable the fee

[2021-11-26 02:47] antuz123 opened #4899 "Currency for Gift"
Check the last comment

[2021-11-26 02:58] antuz123 opened #4900 "Themes"
Enable theme selection with:

General, Birthday, Christmas and Wedding.

[2021-11-26 03:35] ASN-BitHyve opened #4901 "Minimum sats note updation in gifting section"
“Minimum gift value: 1000 sats
(when fee is not included)"

“Minimum gift value: xxxx sats
(when fee is included: xxxx=1000 + fees)"

[2021-11-26 04:34] summikhan11 commented on #4900
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/914419d8-218d-42c8-8d69-f1ab2dd6c7a2/
there's thanksgiving too, lemme know if you want that removed

[2021-11-26 05:08] cakesoft-swati opened #4902 "Donation account:issues on web page."
1.cant see the Donation description on the Web Page.The name of the donation change to name of the Account which is Donation Account. These are two different variables. This is why the description does not come.

**The variables are:**
- Web Variables:
1.Donation Name (different from Account Name and entered by the user).
2.Organised By (provided by the user)
3.Donation Description (Long descripti

[2021-11-26 05:10] cakesoft-swati opened #4903 "Donation account:Account name and description."
- cant see the description on the Web Page.
- The name of the donation change to name of the Account which is Donation Account.  These. are two different variables. This is why the description does not come.
![Screenshot_20211126-104242](https://user-images.githubusercontent.com/62699947/143530330-acd8d337-1d75-4daf-bd34-56dec9088eb5.jpg)

![temp (135)](https://user-images.githubusercontent.com/62

[2021-11-26 05:18] cakesoft-swati opened #4904 "Donation account:should land on the Donation account after creation."
- After creating donation it should land on the Donation Account, not. Home Screen.

[2021-11-26 05:20] cakesoft-swati opened #4905 "Donation web view"
- When you take the cursor on the funds raised thing, it shows as though it is clickable.

[2021-11-26 05:56] antuz123 opened #4906 "Min amount for gift"
This check should come up only when the button is pressed. No need for a line always there. But when amount is entered less that the minimum, then the message is shown like where we have insufficient balance

[2021-11-26 06:04] summikhan11 commented on #4680
@ASN-BitHyve need your input here

[2021-11-26 06:05] summikhan11 commented on #3552
@antuz123  need permissions to do this

[2021-11-26 06:17] Raheel1258 commented on #4718
It is fixed on Android but still pending on ios.

[2021-11-26 06:39] akshaytikle commented on #4905
Can you send me that file. i need to check code.

[2021-11-26 06:42] ASN-BitHyve commented on #4900
Christmas

Heading: Merry Christmas

Subheading: Yuletide cheers to you and yours

Wedding

Heading: Wedding best wishes

Sub: A special gift for a special couple

[2021-11-26 06:50] ASN-BitHyve commented on #4905
@cakesoft-utkarsh / @cakesoft-shashank Tagging you regarding Akshay's comment above.

[2021-11-26 07:12] ASN-BitHyve opened #4907 "Font size should be bigger by a few pixels?"
Can we increase the font size of the heading and subheading @summikhan11 ?

Personally I would prefer a font size increase. Leave it for you to take a call.

![simulator_screenshot_435e0b3c-4165-45fa-9b2b-ac34750adb8a.png](https://user-images.githubusercontent.com/68264080/143541330-73f40d22-c85d-416c-b961-48694d7c6c27.png)

[2021-11-26 07:35] summikhan11 commented on #4907
the font sizes are smaller compared to VD. ive sent beta feedback for this

[2021-11-26 09:11] cakesoft-shivani opened #4910 "Need indication that on which level user is currently"
In screenshot I am on level 3 completed
![Screenshot 2021-11-26 at 1 55 40 PM](https://user-images.githubusercontent.com/50820210/143556060-e446f4df-0571-4f64-8ca3-69e2114a871c.png)

[2021-11-26 09:27] summikhan11 commented on #4910
the design of this screen needs to be changed.
when we go into manage backup the current level is shown there

[2021-11-26 10:35] cakesoft-shivani commented on #4883
Not able to reproduce on android and ios

[2021-11-26 10:37] cakesoft-shivani commented on #4835
Not able to reproduce

[2021-11-26 10:56] cakesoft-swati opened #4911 "App is crashing on Send of any account."
- I upgraded the staging App v2.0.5 (382) to 2.0.6 (384)
- Then I opened Hide accounts and went to that account.
- The app crashed when I clicked the send button.

[2021-11-26 11:14] cakesoft-swati opened #4912 "Gift Details:Add to Account >Select account."
![Screenshot_20211126-163133](https://user-images.githubusercontent.com/62699947/143571121-4faa3c60-3d7a-474e-bef9-bb7dd17b3c87.jpg)
- If I have multiple accounts of the same account type like 2/3 checking account, 2/3 savings account, it shows multiple selected accounts when I go to add gift back to the account and Select account page.

[2021-11-26 11:20] antuz123 commented on #4912
@cakesoft-swati - what happens when you add. Does it add properly?

Moving this to 2.07 if the rest of the flow is fine.

[2021-11-26 11:35] cakesoft-swati opened #4913 "Not able to create the gift of 1000sats."
- I'm trying to create the gift of 1000 stas without fee but when I click on "Create Gift" it doesn't go beyond the model.

[2021-11-26 11:46] cakesoft-swati commented on #4801
- It is still happening on staging app v2.0.6(384)

[2021-11-26 11:51] antuz123 commented on #4801
@cakesoft-swati - happening on Live? Else move to 2.1

[2021-11-26 12:01] just1and0 commented on #4906
please can you include a screenshot for this screen, it'll help.

[2021-11-26 12:32] cakesoft-swati commented on #4864
- Verified this issue on staging app v2.0.6(383)

[2021-11-26 12:32] #4864 closed

[2021-11-26 12:50] antuz123 opened #4914 "Message for gifts"
1. The Sender side text for themes from Abhilash
2. The custom message that sender puts should also be on the receiver side. The card should be identical on both sides.

[2021-11-26 13:01] ASN-BitHyve commented on #4914
Birthday:
The only better birthday gift is time.

Wedding:
Give a gift fit to be an heirloom

Christmas:
This Christmas be the Santa who gifts sats

Gift Sats:
Gift something that appreciates with time

[2021-11-26 13:28] cakesoft-shashank commented on #4914
This is done

[2021-11-26 13:28] cakesoft-shashank commented on #4911
![simulator_screenshot_5874B80F-BC82-4E70-8317-0F77230B36DE](https://user-images.githubusercontent.com/50690016/143588145-0afec027-e870-4f44-a264-18099827b8ea.png)

[2021-11-26 14:06] antuz123 opened #4915 "No new installs for 1.0"
The user should be able to upgrade an existing wallet.

The user should be able to use the recovery flow.

But when they download and press new wallet, they should be given a message that they should download 2.0 instead.(We can show them the notification screen we used)

[2021-11-26 14:08] cakesoft-swati commented on #4912
Rest of the flow is fine.Sats are being received in the proper account that I have.

[2021-11-26 14:19] cakesoft-swati commented on #4900
- Verified this issue on staging app v2.0.6(383)

[2021-11-26 14:19] #4900 closed

[2021-11-26 14:33] cakesoft-swati commented on #4860
- Verified this issue on staging app v2.0.6(383)

[2021-11-26 14:33] #4860 closed

[2021-11-27 15:19] ASN-BitHyve opened #4916 "Require an image with Brian and Murtuza removed from team collage for website."

[2021-11-28 04:59] ASN-BitHyve opened #4917 "Icons should be visible in different language settings"
Notice how there are icons in this section in English but missing here in Russian. Its missing in other languages as well.

![IMG_20211128_102634_907.jpg](https://user-images.githubusercontent.com/68264080/143730203-d0bcd973-8703-4d41-9d60-13268db053c0.jpg)

[2021-11-29 03:28] antuz123 opened #4918 "Test Account"
Need to be able to use Test Account and the dev app.

[2021-11-29 05:08] antuz123 commented on #4903
Only Web variables to be sent to the web. It has nothing to do with the account variables.

[2021-11-29 05:16] cakesoft-swati commented on #4902
@akshaytikle @ASN-BitHyve We need to fix this issue in 2.0.6 today itself.

[2021-11-29 05:58] Parsh commented on #4918
Re-enabled test-account #4919

[2021-11-29 06:32] cakesoft-utkarsh commented on #4902
@Parsh Staging Relay is blocking the reuqests from hexawallet.io. CORS issues.
Can you please allow CORS on staging relay, this would solve the missing donation info issue on Donation Staging.

[2021-11-29 07:02] cakesoft-swati commented on #4894
- Verifiy this issue on staging app v2.0.6(384)

[2021-11-29 07:02] #4894 closed

[2021-11-29 07:03] cakesoft-swati commented on #4888
- Verified this issue on staging app v2.0.6(384)

[2021-11-29 07:03] #4888 closed

[2021-11-29 07:03] cakesoft-swati commented on #4901
- Verified this issue on staging app v2.0.6(384)

[2021-11-29 07:03] #4901 closed

[2021-11-29 07:16] cakesoft-swati commented on #4899
![temp (136)](https://user-images.githubusercontent.com/62699947/143824085-451778dc-ce70-4305-8756-40e186acad29.jpg)
- The amount entry field only shows sats option, no other option. Gift cards kits show value in sats no matter the currency on the Home Screen.

[2021-11-29 09:27] Parsh commented on #4913
@cakesoft-swati @antuz123
I've been able to generate a 1000 sats gift as can be seen in the screenshots(but yes, earlier I've seen it failing w/ node throwing a dust limit err due to high fee back then). Therefore, we might have to increase the minimum sats for Gift to avoid this situation.

Also, we need a UI modal that reflects that the creation process has failed, rather than the creation botto

[2021-11-29 09:40] Parsh commented on #4902
@cakesoft-utkarsh
I'm not sure what extra needs to be done to activate CORS on the staging relay, as all three versions of the relay have the same codebase w/ [cors activated](https://github.com/bithyve/Relay/blob/6334fb3f378a23895b9bad6194fcc1311429f80c/src/index.ts#L16).

[2021-11-29 10:58] cakesoft-swati commented on #4903
Duplicate of 4902

[2021-11-29 10:58] #4903 closed

[2021-11-29 11:05] cakesoft-swati commented on #4889
- @summikhan11  The font size on this screen was the default. It looks the same for all font sizes.

[2021-11-29 11:18] Raheel1258 commented on #4718
@cakesoft-swati  mentioned that this step is skipped from 2.0.5

[2021-11-29 11:37] antuz123 commented on #4913
@Parsh - please use a toast message to show failure when this happens. "Transaction failed due to dust limit. Please increase the gift amount and try"

[2021-11-29 12:23] Parsh commented on #4913
Toast applied

[2021-11-29 12:44] antuz123 commented on #4910
Level 2 should be open. And the action when you touch the right keeper should be suggested.

[2021-11-29 13:03] antuz123 commented on #4899
1. Put back the currency switch for Gits (both when creating and in Manage Gift screen)
2. The gifts should have no relation to the switch in the accounts
3. Both the switches (Create and Manage) should be linked - be the same
4. The details on the Manage screen should reflect the currency chosen
5. The currency on the Create screen should be used for all details used on that screen and going forw

[2021-11-29 13:54] cakesoft-swati opened #4921 "Account Management screen UI."
- The arrangement here dosen't match the home screen.
![Screenshot_20211129-192226](https://user-images.githubusercontent.com/62699947/143880277-33728aeb-0589-4b79-b707-d87dc47e90ad.jpg)

[2021-11-29 16:50] cakesoft-utkarsh commented on #4902
Donation Staging web pages were using staging-relay.bithyve.com as the base relay base URL, which I believe is incorrect.
Changed the base URL on donation Staging web to  baseUrl = "https://new-staging-relay.nw.r.appspot.com/"

Can see the donation info now.
Please verify the other issue about twitter posting @cakesoft-swati  and mark close if it works.

[2021-11-29 18:32] antuz123 opened #4922 "Swan Release"
- [x] Blog
- [x] Announcement tweet
- [x] List with Kaz

[2021-11-29 18:48] antuz123 opened #4923 "Post Live: Sanity test live"
Test the live app around the issues fixed in that release and general backup/ send/ receive journeys.

[2021-11-29 18:49] antuz123 opened #4924 "Post Live: APK Publish"
APK to be published post sanity test on live Android has been done

[2021-11-29 18:50] antuz123 opened #4925 "Pre Live: Regression Testing"
Full testing

[2021-11-29 18:53] antuz123 opened #4926 "Announcements"
Post sanity test:

For the main feature:

- [ ] Video tutorial
- [ ] Tweet
- [ ] Blog
- [ ] LinkedIn, YouTube etc.

[2021-11-29 18:55] antuz123 opened #4927 "Pre Live: App Store submission"
- [ ] Release notes(up to 500 characters) - App Store, APK
- [ ] Image change?

[2021-11-29 18:57] antuz123 opened #4928 "Post Live: Website"
- [x] FAQ changes
- [ ] Announcement banner?
- [x] Latest News updation
- [ ] AOB

[2021-11-29 18:59] antuz123 opened #4929 "Pre Live: Staging Test"
- [ ] Main net testing @antuz123
- [ ] Content Check @ASN-BitHyve
- [ ] UX check @summikhan11

[2021-11-29 19:00] antuz123 opened #4930 "Pre Live: Dev testing - ongoing"
Close all non-feedback, non-operate issues

[2021-11-29 19:01] antuz123 opened #4931 "Post Live: Close Feedback issues"
Post sanity testing on live

[2021-11-29 19:03] antuz123 opened #4932 "Pre Live: Update Test-cases in the epic"
For any new feature or changes

[2021-11-29 19:11] antuz123 opened #4933 "Post Live: Release comms"
Post sanity testing on Live. Changing it from monthly to more align with releases.

Email to stakeholders and BTTF platform. Add other items if needed.

[2021-11-30 03:36] antuz123 opened #4934 "Add Center"
https://appcenter.ms/settings/accounts

Have Anant's ID being able to reconnect.

"You will need to connect with your I’d again then you will be able to reconnect. I have told this to Shashank already. How to do that is in the AppCentre docs. Link provided as well"

Please start this only after going through the instructions else it will get stuck half way. There are a number of steps involved and

[2021-11-30 03:37] antuz123 opened #4935 "Regenerate the certificates"
https://bithyve-workspace.slack.com/files/UEAKAPHFU/F02NYL01VL3/e41a75bcac6aaee453f4e5adbb36cdc6.jpg

For all expiring certificates

[2021-11-30 05:06] antuz123 opened #4936 "21 Days of Christmas"
We will be giving away gifts for 21 days leading up to Christmas. Will need:

1. Image for the announcement @summikhan11
2. A logo to reflect a Santa/ Christmas themed Hexa @summikhan11
3. A tweet long message @ASN-BitHyve

[2021-11-30 05:06] cakesoft-swati opened #4937 "Donation account: issues on website."
1.cant see the Donation description on the Web Page.The name of the donation change to name of the Account which is Donation Account. These are two different variables. This is why the description does not come.

**Doantion link(Dev app):https://donation.hexawallet.io/K2FE**
**Donation link(Live app):https://donation.hexawallet.io/sejT**

**The variables are:**
- Web Variables:
1.Donation Name (di

[2021-11-30 05:07] cakesoft-swati commented on #4902
Dupicate of #4937

[2021-11-30 05:07] #4902 closed

[2021-11-30 05:33] cakesoft-shashank commented on #4889
@ASN-BitHyve
![simulator_screenshot_55938493-4B03-4748-8EFB-91EC6F54C9BB](https://user-images.githubusercontent.com/50690016/143991113-414b5328-730b-4750-a891-7dfe0701e574.png)

[2021-11-30 05:41] antuz123 opened #4939 "Exclusive option for multiple gifts"
When the user selects multiple gifts as an option from advanced:

1. A text box with the number of gifts appear
2. The total of the gift is shown
3. The 'include the fee' option is gone as fee cannot be included

In the same way,

4. we need to have an option to select "Make each gift exclusive", same as the fee selection option. A subtext will be "(Restricts the gift to one per person or per Hexa

[2021-11-30 05:56] summikhan11 commented on #4939
do we need a "know more" for this? @antuz123

[2021-11-30 06:07] cakesoft-swati opened #4940 "Test account:Need to show the test account."
- I can’t see the Test Account on Home page and not even on the hidden accounts list on Dev.We need to have the Test Account by default and not hidden as it was before.
![File (82)](https://user-images.githubusercontent.com/62699947/143994499-9b426dea-39a1-46a1-9792-94143f29e979.jpg)

[2021-11-30 06:10] summikhan11 commented on #4939
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/8cea1360-8194-4496-961e-a73d57e20c18/

[2021-11-30 06:11] cakesoft-swati opened #4941 "Create Gift: It takes a long time to bring up the modal."
- The Create is taking a long time to bring up the modal. The modal should be instant when you touch create.
- Tested on Staging app v2.0.6(384)
- For the text below should be.
Title: Creating Gift-Sats
Text: Please wait while your gift is being wrapped.
Once created, you can choose to send it or keep it in your Available Gifts section for sending later.
![File (83)](https://user-images.githubuser

[2021-11-30 06:27] ASN-BitHyve opened #4942 "Shift screen after backup"
Once a user has backed up on the Cloud, they don't need to remain on this screen. They can be led back to the Security and Privacy section.
![Screenshot_20211130-115531_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/143996734-272a9067-2121-4e53-a78f-4d9f5c18245e.jpg)

[2021-11-30 06:46] ASN-BitHyve commented on #4915
Notification message:

"This app is not operational anymore. New users are requested to download Hexa 2.0. It is faster, more secure, and packs in a bunch of performance improvements over Hexa 1.0."

 _Note to Dev: (Please give "Download Hexa 2.0" button beneath the message above. The button should take the user to the corresponding app/play store based on OS detection)_

"If you previously had sa

[2021-11-30 06:49] summikhan11 commented on #4936
App Icon (can use this as twitter profile picture too)
https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/screen/3978f8df-5ed1-4b0a-9905-ae5f67b43935

[2021-11-30 06:49] summikhan11 commented on #4936
Need copy for the announcement image @ASN-BitHyve

[2021-11-30 07:21] cakesoft-utkarsh commented on #4688
Varun fixed this on Friday 28th. Marking fixed.

[2021-11-30 07:23] cakesoft-utkarsh commented on #4823
Certificates come with 365 days validity, They can be easily regenerated by developers once expired without affecting the exiting live apps.

We can ignore this. @antuz123 We can mark this closed.

[2021-11-30 07:24] cakesoft-utkarsh commented on #4645
@ASN-BitHyve Were you able to verify according to the previous comment?

[2021-11-30 07:54] cakesoft-swati commented on #4918
- Verified this issue on dev app v2.0.6(385)

[2021-11-30 07:54] #4918 closed

[2021-11-30 07:55] summikhan11 commented on #4861
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/332d0427-1f35-45bb-b50e-29257811336d/

[2021-11-30 07:56] cakesoft-swati commented on #4911
- Verified this issue on dev app v2.0.6(385)

[2021-11-30 07:56] #4911 closed

[2021-11-30 08:04] cakesoft-swati commented on #4940
- Verified this issue on dev app v2.0.6(385)

[2021-11-30 08:04] #4940 closed

[2021-11-30 08:05] cakesoft-swati commented on #4889
- Verified this issue on dev app v2.0.6(385)

[2021-11-30 08:08] cakesoft-swati commented on #4836
- Verified this issue on dev app v2.0.6(385)

[2021-11-30 08:08] #4836 closed

[2021-11-30 08:10] cakesoft-swati commented on #4758
- Verified this issue on dev app v2.0.6(385)

[2021-11-30 08:45] summikhan11 commented on #4805
https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/screen/7b14f654-862d-4158-9e96-04c41130ecb7/
scroll to find both dev and stage.

[2021-11-30 09:05] antuz123 commented on #3517
The app is not locking when it comes from the background. It should get locked after 10 seconds

[2021-11-30 10:16] summikhan11 commented on #4716
![1](https://user-images.githubusercontent.com/85475736/144028685-0151b654-0e89-4142-a8db-08ee71d8ee5a.png)
![2](https://user-images.githubusercontent.com/85475736/144028703-6a014676-e420-461f-937c-844a8c9df8f0.png)
![3](https://user-images.githubusercontent.com/85475736/144028709-8333ff90-f8a7-427b-a403-295773a497fb.png)
![4](https://user-images.githubusercontent.com/85475736/144028719-b101b0b8-e

[2021-11-30 10:26] ASN-BitHyve commented on #4936
Copy for announcement image: "This year be the sats Santa!"
(Suggestion: 1) We could depict a happy Santa with a mobile phone(with its screen visible to the viewer). The screen on the phone shows our gifting icon prominently, but subtly. 2) The atmosphere of the image could have 1 or 2 of the typical Christmasy bells and whistles (Lit Tree, star, snow, food, gathering of people, etc.))

@summikhan

[2021-11-30 10:28] ASN-BitHyve commented on #4936
Tweet Text: "Starting today, we will be giving away Gift Sats for 21 days leading upto Christmas. Scan the QR, DM us for the OTP. Redeem your gift and keep it for yourself or gift forward to friends and family!"
(Insert appropriate emojis)

@antuz123

[2021-11-30 10:58] akshaytikle commented on #4937
I have co ordinate with @cakesoft-utkarsh and understand issue and checked in detail and its beyond my skill , its not CSS  issue, Its related with jQuery functions. Let me know if anything related with UI only  like if we need to hide that transaction detail popup.

[2021-11-30 11:04] ASN-BitHyve opened #4945 "Akshay to update Donation Account Webview footer with this icon"
https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/screen/3305ec0d-0854-40b5-9943-9cd5934a8184/?x_product=cc-slack%2F1.5.1

[2021-11-30 11:28] ASN-BitHyve opened #4946 "Gifting text changes"
Please retain heading. And replace the subheading with: "Give sats as gifts to your friends and family."
![Screenshot_20211130-165717_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/144039394-e21c09bc-3c61-4838-bb9b-7e67b83ac3f8.jpg)

[2021-11-30 11:36] ASN-BitHyve commented on #4946
Please replace the text on top in Gifting Know More with: "Hexa creates a link or QR code that allows you to send sats as gifts to anyone using Hexa Wallet"

Please replace the text at the bottom in Gifting Know More with: "You can manage these Gifts from here. Send them when you want to and reclaim them if not accepted. The recipient will be directed to download Hexa wallet if they don't have it

[2021-11-30 11:41] ASN-BitHyve opened #4947 "Shadow behind Available button seems out of place"
@summikhan11 to check and comment. This is Dev 385, Android.

![Screenshot_20211130-171004_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/144041021-eae4f313-746d-4725-bf1e-139b3a363fb0.jpg)

[2021-11-30 11:46] ASN-BitHyve opened #4948 "Pre-Live: Check if a new icon is required for a new feature being released"
When the wallet is loading, the image in the right corner should correspond with the message being displayed. So a message about Gifting should have a corresponding image with the gift icon, a message about Donation should have image with donation Account.

@summikhan11

[2021-11-30 11:53] ASN-BitHyve opened #4949 "Gift wrapping modal"
When a gift is being prepared, an animation  wrapping a BTC coin in a box to appear in lower right hand corner instead of the gear animation.

Abhilash to give better text.

![Screenshot_20211130-171925_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/144042629-934ef5fd-b8c0-4499-a5bd-1a78aa08704b.jpg)

[2021-11-30 11:53] Raheel1258 commented on #4733
@cakesoft-swati  I do not have access to the code of the website. This ticket is not relevant to the app.

[2021-11-30 11:56] ASN-BitHyve opened #4950 "Highlighted text to be removed"
![Screenshot_20211130-172543_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/144043026-226c279d-738b-4b06-a52b-cf2314c42cdc.jpg)

[2021-11-30 12:02] ASN-BitHyve opened #4951 "Logo should be Hexa 2.0!"
![Screenshot_20211130-173229_hexa stage.jpg](https://user-images.githubusercontent.com/68264080/144043947-6d480776-5e10-4857-a535-3af1a6e66f09.jpg)

[2021-11-30 12:07] ASN-BitHyve opened #4952 "B should be small in Bitcoin as we are talking about the currency here"
![IMG_20211130_173604_069.jpg](https://user-images.githubusercontent.com/68264080/144044460-abb9eb8c-5898-4090-bc55-7b6961e96f81.jpg)

[2021-11-30 12:14] antuz123 commented on #4949
This applies to the loader messages and when Create Gift.

[2021-11-30 12:27] ASN-BitHyve commented on #4951
https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/screen/3978f8df-5ed1-4b0a-9905-ae5f67b43935/?x_product=cc-slack%2F1.5.1

@cakesoft-shashank here's the logo link. You'll find the normal logo in those set of files as well. Do you need anything else from Summi?

[2021-11-30 12:29] summikhan11 commented on #4889
please dont make ui changes that i dont suggest.

please revert this. it looks out of proportion.

[2021-11-30 12:31] antuz123 commented on #4950
Please replace not remove

[2021-11-30 19:20] antuz123 commented on #4672
1. You don't really buy bitcoin from your Hexa wallet
2. Is the Swan line correct? "Own your future"?
3. The name of the company is Swan Bitcoin, not Swan.

@ASN-BitHyve

[2021-11-30 23:35] ASN-BitHyve commented on #4672
First off, the b should be small letters. Have told Summi.

Point1: It should be "from within" or "through" Hexa Wallet. But using those words makes the sentence longer. I can live with "from". Its a matter of a user logging in once to understand that they'll be purchasing sats from Swan.

Point 2: "Own Your Future" is displayed prominently on their home screen. Have assumed its their tag line.

P

[2021-12-01 04:24] Raheel1258 commented on #4832
@summikhan11 , I don't have access to the website.

[2021-12-01 05:04] cakesoft-swati opened #4953 "Cross version compatibility for gifts."
- I scanned Gift QR from 2.0 app but after scanning it did not show me error message or anything. It just scanned the QR and nothing happened.
- Same for the link.
- It should show some message.

[2021-12-01 05:16] ASN-BitHyve commented on #4672
@summikhan11 suggest using the Hexa 2.0 logo: https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/screen/3305ec0d-0854-40b5-9943-9cd5934a8184/?x_product=cc-slack%2F1.5.1

[2021-12-01 05:34] cakesoft-swati opened #4954 "Gift:UX issues."
- change icon.
![temp (138)](https://user-images.githubusercontent.com/62699947/144176228-ecc68767-22fb-46e2-b52e-9f8940d76ea5.jpg)

1. use specified icon for "back"
2. icon should be of a gift. content should say "from checking account"
3. remove white background
![original](https://user-images.githubusercontent.com/62699947/144177079-14cacb29-047c-4801-8dd0-5c11119dc2bd.jpg)

- check font sizes

[2021-12-01 05:37] cakesoft-swati opened #4955 "Swan:The “Link Swan Account” button is cutting off the text."
- The “Link Swan Account” button is cutting off the text.
-  “Link Swan” is enough.
![image (3)](https://user-images.githubusercontent.com/62699947/144177827-f3cd3518-1097-421b-ac6d-9a58e4e00b11.png)

[2021-12-01 05:51] cakesoft-swati opened #4956 "Swan-Browser support"
- After clicked on "Link Swan Account" it momentarily poped up a screen that then disappeared and its back to Home screen.
![image (3)](https://user-images.githubusercontent.com/62699947/144179306-1dd501c3-1e8e-4cab-a24f-c75f05e2a49f.png)
-  Browser: Firefox.
-  Device: Samsung Galaxy S20+5g,android.

[2021-12-01 06:49] ASN-BitHyve commented on #4926
App notification: Hexa version 2.06 is now available. Now you can stack sats with Swan Bitcoin and hodl within Hexa in an exclusive Swan Account.

[2021-12-01 06:55] summikhan11 commented on #4672
![Twitter Announcement](https://user-images.githubusercontent.com/85475736/144186476-367cca04-47ca-4130-bf66-36ce79ed69bb.png)
@ASN-BitHyve

[2021-12-01 07:07] ASN-BitHyve commented on #4672
@antuz123 this is good to go for me.

[2021-12-01 07:28] ASN-BitHyve opened #4957 "FAQ content overhaul"

[2021-12-01 07:42] ASN-BitHyve commented on #4922
Announcement Tweet: "We want you to have the most seamless sats hodling experience. Announcing our partnership with @SwanBitcoin to enable just that. Now you can buy sats from Swan and hodl non-custodially in a dedicated Swan Account within Hexa."

[2021-12-01 07:46] ASN-BitHyve commented on #4928
FAQ section updated to reflect Swan's FAQ: https://hexawallet.io/faq/

[2021-12-01 07:49] ASN-BitHyve commented on #4672
@summikhan11 please share the announcement image in appropriate sizes to put on desktop website and mobile website.

[2021-12-01 07:52] akshaytikle commented on #4945
I checked above xd link but we need icon in svg format. and i will need access to change footer icon.

[2021-12-01 08:03] ASN-BitHyve opened #4958 "Requesting image in appropriate size for mobile"
Sumaiah please look at the second banner image used for "Introducing Hexa 2.0". Please share a corresponding image for mobile view.

[2021-12-01 08:18] ASN-BitHyve commented on #4949
Heading: Packing Your Gift
Sub-heading:

- You can reclaim sent gift sats

- Gift sats that you receive can be added to an account or gifted further without any extra fees

@cakesoft-shashank

[2021-12-01 08:24] ASN-BitHyve opened #4960 "Login modal message"
Please retain the first sentence. Remove the second sentence. (The second sentence I've shifted to the modal when the gift is getting created)

[2021-12-01 09:18] cakesoft-utkarsh commented on #4937
- [ ] Displaying Transactions.
- [ ] Missing Donation info
Are done.

[2021-12-01 10:21] Parsh commented on #4939
The exclusive gift lookup hasn't been backed up in the WI tho.

[2021-12-01 10:27] cakesoft-swati opened #4962 "No image is being attached from the sender when we share the QR."
- When I share QR, no image is getting attached for the sender.
- I can see it in preview.
![IMG_2492](https://user-images.githubusercontent.com/62699947/144217176-bd74ba2e-2f71-4a27-ad80-a0a7d090cb30.PNG)
- It is happening only on ios.
- The hexa icon on the QR is also missing. And the QR is also taking time to load.

[2021-12-01 10:29] cakesoft-swati opened #4963 "Message to recipient."
![original (7)](https://user-images.githubusercontent.com/62699947/144218040-f751b385-5019-4aba-966f-d6e015c15adb.jpg)
- -Where is the actual message. Also theme is missing here.

[2021-12-01 10:32] cakesoft-swati opened #4964 "F&F request for already created gift."
- When sending an already created gift, there is no way to add a F&F request. This screen should give an option to add the person as a F&F like when you send directly after creating. As soon as you select that, Associate Contact screen opens.
![original (8)](https://user-images.githubusercontent.com/62699947/144218329-be0146a3-b3c8-4f8a-9355-3ec5e336ebb4.jpg)

[2021-12-01 10:44] cakesoft-swati opened #4965 "Minimum Gift Value:Note change."
![File (84)](https://user-images.githubusercontent.com/62699947/144219909-1a227344-14cf-461c-84e1-80c7836cc1e7.jpg)
- remove that note word and colon from there.
- Summi want to out that message in a different place,So @summikhan11  where you'd like to put it.

[2021-12-01 10:47] cakesoft-shivani commented on #4898
- [ ] Change cloud to other keepers
- [ ] Setup other keeper on level 1

[2021-12-01 10:47] Raheel1258 commented on #4954
@summikhan11, can you provide me the relevant designs?

[2021-12-01 11:24] antuz123 opened #4966 "Google Cloud"
Need to check which component this payment profile refers to and is that going to cause a problem.

Google is not letting me fix this.

![image](https://user-images.githubusercontent.com/43998049/144226081-740d1eeb-f06f-4d4d-a1bf-525e747a79a1.jpeg)

[2021-12-01 12:21] cakesoft-swati opened #4967 "Manage Gifts:Ux issues."
- when I click on gift sats for the first time, know more should opn up on an empty screen.
-  "create new" should be dark blue.
- check the shadow of "available"
![original (9)](https://user-images.githubusercontent.com/62699947/144233368-5fc50b97-cc43-4dff-ab95-1abff0ea16f2.jpg)

[2021-12-01 12:24] summikhan11 commented on #4954
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/da6e795d-c890-4ff1-bbc7-54c9f690be4a/specs/

you'll find all screens on this link @Raheel1258

[2021-12-01 12:41] cakesoft-swati commented on #4960
- Verified this issue on dev app v2.0.6(386)

[2021-12-01 12:41] #4960 closed

[2021-12-01 12:42] cakesoft-swati commented on #4955
- Verified this issue on dev app v2.0.6(386)

[2021-12-01 12:42] #4955 closed

[2021-12-01 12:47] cakesoft-swati commented on #4950
Verified this issue on dev app v2.0.6(386)

[2021-12-01 12:55] cakesoft-swati commented on #4941
- Verified this issue on dev app v2.0.6(386)

[2021-12-01 12:55] #4941 closed

[2021-12-01 13:02] cakesoft-swati commented on #4914
- Verified this issue on dev app v2.0.6(386)

- [ ] 1.The Sender side text for themes.

2.The custom message that sender puts also there on the receiver side. The card is identical on both side.

[2021-12-01 13:03] #4914 closed

[2021-12-01 13:06] cakesoft-swati commented on #4889
- Verified this issue as discussed with dev.

[2021-12-01 13:06] #4889 closed

[2021-12-01 13:08] cakesoft-swati commented on #4904
- Verified this issue on dev app v2.0.6(386)

[2021-12-01 13:08] #4904 closed

[2021-12-01 13:13] cakesoft-swati commented on #4758
- Verified this issue on dev app v2.0.6(386)

[2021-12-01 13:51] antuz123 commented on #4934
https://bithyve-workspace.slack.com/archives/CEBLWDEKH/p1637931296095700

[2021-12-01 14:08] cakesoft-swati commented on #4891
@Parsh It has started showing Savings and Donation account again.

[2021-12-01 14:10] cakesoft-swati commented on #4884
"Change" button is still not visible.Tested in dev app v2.0.6(386)

[2021-12-01 14:12] cakesoft-swati commented on #4917
- Verified this issue on dev app v2.0.6(386)

[2021-12-01 14:12] #4917 closed

[2021-12-01 14:21] summikhan11 commented on #4967
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/c4d67eb1-c038-40e6-a921-15517d461d52/specs/ @Raheel1258

[2021-12-01 14:31] summikhan11 commented on #4965
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/332d0427-1f35-45bb-b50e-29257811336d/specs/

[2021-12-01 14:41] cakesoft-swati commented on #4899
- 6th point is still pending.So filing a new issue for this and closing this one.

[2021-12-01 14:41] #4899 closed

[2021-12-01 14:42] cakesoft-swati opened #4968 "Currency for Gifts."
- The receiver should see the gift in the amount sent. For this we may need to pass the amount at that time as text. It will be shown in the card only. Once it is accepted and in the Gift list, the currency there will work according to the above. The amount sent ($5, £10 or 100k sats) can show exactly like that on the receiver side ignoring the receiver side currency or the exchange rate at that t

[2021-12-01 14:54] cakesoft-swati commented on #4939
- The flow is not according to UX.
- Not showing total amount on Create Gift page.
- Not showing the total amount while sending the Gift.

[2021-12-01 16:08] ASN-BitHyve commented on #4927
2.0.6 Release Notes
**Hexa Wallet partners up with Swan Bitcoin**

Now Hexa has a built in Swan Bitcoin wallet. Stack with Swan, hodl non-custodially with Hexa!

Setup auto-DCA in your Swan Account and seamlessly transfer sats to your Hexa Wallet

[2021-12-02 04:46] antuz123 commented on #4939
Just make sure that the total is on the Create screen

[2021-12-02 04:59] antuz123 commented on #4949
Heading: Packing Your Gift

Sub-heading:

Once created, you can send the Gift Sats right away or keep them for later

If not accepted, you can reclaim your Gift Sats

[2021-12-02 05:29] summikhan11 commented on #4927
https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/
App Store & Google play images

[2021-12-02 06:01] summikhan11 commented on #4949
@cakesoft-shashank try this
![gift](https://user-images.githubusercontent.com/85475736/144366509-97a21b6d-59b5-4069-96a5-dcce27bb9a48.gif)

[2021-12-02 06:47] summikhan11 commented on #4672
https://xd.adobe.com/view/ff175839-dd75-4d46-8208-5fe20355d683-aa44/screen/e71751d5-0e6f-407c-b4a5-75bdc5b4c3d5/
scroll to find mobile version too

[2021-12-02 07:25] ASN-BitHyve commented on #4927
@cakesoft-shashank just tagging you as Summi has given the image.

[2021-12-02 08:09] cakesoft-swati commented on #4965
- Verified this issue on dev appv2.0.6(387)

[2021-12-02 08:09] #4965 closed

[2021-12-02 08:10] #4949 closed

[2021-12-02 08:10] cakesoft-swati commented on #4939
- Verified this issue on dev appv2.0.6(387)

[2021-12-02 08:10] #4939 closed

[2021-12-02 08:11] cakesoft-swati commented on #4891
- Verified this issue on dev appv2.0.6(387)

[2021-12-02 08:11] #4891 closed

[2021-12-02 08:48] ASN-BitHyve opened #4970 "Minor textual changes"
1) S capital in "sats" where highlighted.
2) Fullstop to be removed where highlighted

![file-1.jpg](https://user-images.githubusercontent.com/68264080/144388238-cb244e7f-4459-4082-9a8b-a04aac72cc20.jpg)

![file-2.jpg](https://user-images.githubusercontent.com/68264080/144388266-fa898cd7-e10e-43c1-89ca-47b671ffe719.jpg)

[2021-12-02 09:04] cakesoft-swati commented on #4951
- Hexa logo is not visible on shared image when we share QR with other apps.
![ReactNative-snapshot-image7856494204729547050 (1)](https://user-images.githubusercontent.com/62699947/144390913-5f391c4f-0983-4bc9-b3e7-85dee25aafea.jpg)

[2021-12-02 09:11] summikhan11 opened #4971 "Specs Link updates"
Archive comments from old links and delete old links
Update all screens to New Ui

- [ ] Know More
- [ ] Login & Wallet Setup
- [ ] Send & Receive
- [ ] Notifications
- [ ] Accounts, Add, Buy
- [ ] Friends & Family
- [ ] More & Settings
- [ ] Manage Backup
- [ ] Restore Wallet
- [ ] Ramp Account
- [ ] Wyre Account
- [ ] Swan Account
- [ ] Checking Account
- [ ] Savings Account
- [ ] Test Account
-

[2021-12-02 09:21] cakesoft-swati opened #4972 "Accept Gift modal issue."
- A gift accept / reject modal was opened and in the meantime my phone was locked and when I logged in again, the modal disappeared. I then created 2 new Donation accounts and when I landed on the account page I saw that same gift modal again that had disappeared.
![temp (139)](https://user-images.githubusercontent.com/62699947/144393340-0a36449e-cd52-4f12-b801-8f4dd25e912a.jpg)

[2021-12-02 09:44] cakesoft-swati commented on #4962
- Verified this issue on dev app v2.0.6(387)

[2021-12-02 09:44] #4962 closed

[2021-12-02 10:31] cakesoft-swati opened #4973 "Gift:The change contact option on the send screen is not working properly."
- The change contact option that com on the send screen is not working properly.When we send to F&F and then try to change the contact.
- It should let you change the contact no.

[2021-12-02 10:35] cakesoft-swati opened #4974 "Create Gift:Not allowing to create gift post recovery."
![Screenshot_20211202-154202](https://user-images.githubusercontent.com/62699947/144405160-2a5b0f45-ce6d-42b9-aefb-a3b0ac66e108.jpg)
- I retsored the wallet, now I have 7000 sats in my checking account still it is not allowing me to cretae the gift with or without fee.

[2021-12-02 10:47] antuz123 opened #4975 "Preview for links"
Gift, donation, F&F request, etc should have a relevant preview when the link is shared.

[2021-12-02 11:02] Raheel1258 commented on #4867
@summikhan11

[2021-12-02 12:39] cakesoft-swati commented on #4966
- Closing this issue as discussed with @antuz123.

[2021-12-02 12:39] #4966 closed

[2021-12-02 12:45] cakesoft-swati commented on #4950
- Not able to see the Personal note if we send Gift to F&F.
- Not on both side sender and receiver.

[2021-12-02 12:59] Parsh commented on #4950
Addressed by #4976

[2021-12-02 13:47] Raheel1258 commented on #4652
Backend blocker. The price (SAT) is not coming in API

[2021-12-02 16:00] antuz123 opened #4980 "Adding F&F on pixel"
- Some issue with name/ middle name and sometimes it does not work.
- After allowing access to contacts for adding Friends and Family, I was looking through the list. For any of my contacts that I had a First Middle and Last name, the First and Middle names were what appeared in the list in Hexa. Last name did not appear.
- on iOS we can't search by last name. We should be able to search by any.

[2021-12-03 04:45] Parsh opened #4981 "Test Account: Unhide on upgrade"
- [x] Unhide the test account(if hidden), when user upgrades from a previous version(<2.07) to the current version(2.07).
- [x] Test account should be in the correct order on the home screen when un-hided

[2021-12-03 07:15] summikhan11 commented on #4951
should it be though? it won't even be visible. @ASN-BitHyve

[2021-12-03 08:54] cakesoft-swati commented on #4937
- Verified this issue on dev app v2.0.6(388)

[2021-12-03 08:54] #4937 closed

[2021-12-03 08:56] cakesoft-swati commented on #4970
- Verified this issue on dev app v2.0.6(388)

[2021-12-03 08:56] #4970 closed

[2021-12-03 08:56] cakesoft-swati opened #4983 "Gift encryption."
1.Disable change contact/2FA option.

[2021-12-03 08:56] cakesoft-swati commented on #4983
- Verified this issue on dev app v2.0.6(389)

[2021-12-03 08:56] #4983 closed

[2021-12-03 08:57] cakesoft-swati commented on #4950
- Verified this issue on dev app v2.0.6(388)

[2021-12-03 08:57] #4950 closed

[2021-12-03 09:00] cakesoft-swati commented on #4758
- Verified this issue on dev app v2.0.6(388)

[2021-12-03 09:00] #4758 closed

[2021-12-03 09:00] cakesoft-swati commented on #4915
- Verified this on Hexa 1.0 app v1.7.4(303)

[2021-12-03 09:00] #4915 closed

[2021-12-03 09:45] cakesoft-swati opened #4984 "Accept Gift:Text change."
- Top should be: Accept Gift Sats
- Some space after “You have received a gift from…”
- The instruction message should be (instead of “You can choose ….. till fees!)):
 “Add the data to an account or keep them to send to someone else”
![Image from iOS (4)](https://user-images.githubusercontent.com/62699947/144579512-4c64b3ab-edc5-42db-94a4-8a14b604e3f6.jpg)

[2021-12-03 09:47] cakesoft-swati opened #4985 "Gift:Text change on sender side."
- On the sender side, this will be defaulted to:

“Bitcoin is a new type of money that is not controlled by any government or company.”
![Image from iOS (5)](https://user-images.githubusercontent.com/62699947/144581640-b479a244-2a3c-4c0b-a5b5-d1522689f8c7.jpg)

[2021-12-03 09:49] antuz123 commented on #4984
Top should be: Accept Gift Sats

First line “You have received bitcoin gift from…”

Some space after that

The instruction message should be (instead of “You can choose ….. till fees!)):

“Add bitcoin to an account or keep them to send to someone else”

[2021-12-03 09:50] antuz123 commented on #4984
The buttons should be Accept and Deny

[2021-12-03 12:31] summikhan11 opened #4989 "Accept Gift changes"
@ASN-BitHyve I've moved copy around for this screen

![IMG_1492](https://user-images.githubusercontent.com/85475736/144602848-13198709-977e-4eea-a317-16f7f163958f.PNG)

https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/000dce01-3316-49d4-9ce4-98ec88219dbe/specs/

[2021-12-03 12:48] summikhan11 commented on #4936
sent the image via email, its too big to upload here

[2021-12-03 13:45] antuz123 commented on #4989
This screen has changed slightly last minute. Check on live when it comes @summikhan11 @ASN-BitHyve

[2021-12-03 13:51] antuz123 commented on #4928
Abhilash, the FAQ about Swan has nothing. That is not what FAQ we should have.

[2021-12-04 11:55] ASN-BitHyve opened #4993 "Wallet name exception"
The wallet should be able to detect when a name ends with an "s" and remove the "s" it adds after a name ( As per standard English practices Tomas's is wrong. It should be Tomas' )

![Screenshot_20211204-172308_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/144708462-d2c826b7-17d7-401d-aaeb-8d0dbceb5fae.jpg)

[2021-12-05 17:16] ASN-BitHyve opened #4994 "Gift + Hexa 2.0 video updation"

[2021-12-06 06:30] cakesoft-swati opened #4995 "Gift:App crashing issues."
1. Live android app v2.0.6(391)
- I created a gift and the app crashed when I clicked the 'Next' button with or without selecting the theme when sending.
- Same happening on staging Android app v2.0.6(391)
- Not happening in ios staging app v20.6(391)

2.Dev and Staging app v2.0.6(391)
- When we go to accept gift in ios "Accept" button is not working.
- App crashes when we go to accept gifts in an

[2021-12-06 06:57] cakesoft-swati opened #4996 "Send"
1.Live app v2.0.6(391)
- When we try to send 500 or less than 500 sats then after clicking on 'Send' button it first turns gray then blue again and then 2/3 minutes later we get a successful message.Sometimes it got stuck on Send button nothing is happening after that.
- Also when we click on "View txn" sometimes auto refresh does not happen.
- But for 600 sats and more than that the send is happe

[2021-12-06 10:12] summikhan11 commented on #4964
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/bd2d2f2b-a93a-405e-b154-5cb41209d297/

[2021-12-06 10:51] ASN-BitHyve opened #5001 "Text change required in error message"
"Please try again later"

![Screenshot_20211206-161737_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/144833112-b29eb383-d5ef-47dc-8552-cf3dfe38a1f2.jpg)

[2021-12-06 11:15] cakesoft-swati opened #5002 "Automated Cloud Backup"
- After setting up the wallet, when we land on the home page, it displays a message on the home page saying "Automatic cloud backup is incomplete, please complete level 1" and if I click on the "Security and privacy" tab, level 1 is getting completed.
- It should complete the level 1 as soon as we land on the home page otherwise it should show an error message.

https://user-images.githubuserconte

[2021-12-06 12:05] Parsh commented on #4996
- Send is working smoothly for amounts above dust limit
- For amounts equivalent or lower than the dust limit, we might want to set a static lower bound to the amount entered and show appropriate txn failure modal

[2021-12-06 12:14] summikhan11 opened #5004 "Standardize Pop-up Screen Illustrations size"
1. General
2. Success
2. Cloud
3. Internet Connection
4. Rating
5. Address Book
6. Send
7. 2FA

[2021-12-06 13:35] #4845 closed

[2021-12-06 13:37] cakesoft-swati commented on #4845
Not able to replicate this issue.

[2021-12-06 16:22] antuz123 opened #5007 "Unhide accounts"
All accounts are not un-hidden.

When I hide the accounts, only the accounts that did not change their names are un-hidden with the latest change.

The accounts for which I had changed the names are still hidden. I had changed the name of the Checking Account and the Savings Account and created one more Savings Account with a different name.
![File (87)](https://user-images.githubusercontent.com/6

[2021-12-07 02:39] ASN-BitHyve opened #5008 "Suggested changes to Buy BTC areas"
1) It should say, "BTC to (default currency) right now" instead of "today". "Today" gives general knowledge. "right now" triggers action along with the points mentioned below.
2) The app should continuously query (like maybe every 4 seconds) its source of data for BTC price. The price should be getting updated continuously, dynamically. Without the user having to refresh or restart the app.
3) Exh

[2021-12-07 02:58] ASN-BitHyve opened #5009 "Priority lacks priority!"
Seems to be working fine in Android staging test account.

![photo6158784477862669866](https://user-images.githubusercontent.com/68264080/144957912-ee43a10f-167d-4f35-ad6c-4822fec770fd.jpg)

[2021-12-07 02:59] ASN-BitHyve opened #5010 "Zero should go away when user starts typing"
https://user-images.githubusercontent.com/68264080/144958184-d6d6b556-fd5a-40a3-b335-50220717b1ff.MP4

[2021-12-07 04:13] ASN-BitHyve commented on #5009
This is ios staging app Swati

[2021-12-07 04:39] cakesoft-shivani opened #5011 "Ignore button If we do not want level 2 or level 3 after 1st setup"

[2021-12-07 06:22] cakesoft-swati opened #5012 "Not able to unhide the archived accounts."
- Not able to unhide the archived account but the balance is showing on home page.
- I archived the savings account and swan and both the accounts had some sats still it allow me to archive.

**A Hidden Account is diferent from an Archived account.An account needs to be emptied before being archived.**

[2021-12-07 06:36] cakesoft-swati opened #5013 "Donation account: Need to show -Total amount remaining"
- Total fund raised is the total of all incoming transactions, not reducing the outgoing ones.
- Funds available is the Account balance.
![File (86)](https://user-images.githubusercontent.com/62699947/144978627-6d8d536a-431d-4f09-ac48-811bb1dbe798.jpg)

[2021-12-07 06:39] cakesoft-swati opened #5014 "Donation account:Donating from the same phone doesn't refresh the webpage and does not confirm the donation."
- When I donate from the same phone, the webpage does not refresh and confirm the donation. Stays in the waiting for the transaction mode.
- The page needs to keep pinging even if someone puts it in the background
- If you refresh it (with or without going to the background) it should come back to the same page and not go back to home.

[2021-12-07 10:07] Parsh commented on #5014
I wasn't able to replicate the above issue.

Created a donation account from my dev app(2.06) and donated to it using the same app's test account and it went through as expected.

<img width="1440" alt="Screenshot 2021-12-07 at 3 24 41 PM" src="https://user-images.githubusercontent.com/17980466/145009003-e99b6add-51a8-49f8-b201-6a542c105d69.png">

<img width="1440" alt="Screenshot 2021-12-07 at 3

[2021-12-07 10:08] Parsh commented on #5014
@cakesoft-swati Can you retry it once again and let me know the specifics if you are able to replicate it.

[2021-12-07 10:21] cakesoft-shashank commented on #4311
@cakesoft-swati not able to reproduce

[2021-12-07 12:10] #4910 closed

[2021-12-07 12:12] summikhan11 commented on #4951
please keep "h" in the QR

[2021-12-07 12:13] antuz123 commented on #4951
Leave the original logo for Hexa @Raheel1258

[2021-12-07 12:32] ASN-BitHyve opened #5016 "Notification not updating after lvl3 is done"
![IMG_20211207_180015_193.jpg](https://user-images.githubusercontent.com/68264080/145029613-0e92e921-02b5-426f-9118-e48fcf5296e7.jpg)

[2021-12-07 12:34] ASN-BitHyve opened #5017 "I think the shield is weirdly away from the action"
![IMG_20211207_180337_867.jpg](https://user-images.githubusercontent.com/68264080/145029922-d0454ae4-26c8-4856-8573-c69eac6873d3.jpg)

[2021-12-07 12:40] ASN-BitHyve opened #5018 "Text updating needed"
"...choose a new CONTACT from..."

![IMG_20211207_180957_380.jpg](https://user-images.githubusercontent.com/68264080/145030775-5f178b23-a0ae-4137-828f-36f949b99fb8.jpg)

[2021-12-07 12:45] ASN-BitHyve opened #5019 "Shield Strengthening Visual"
As the user advances their backup, should we represent the shield becoming stronger and stronger? The current icon could be used for Level 1 with subsequent representation becoming more and more fortified with increasing levels.

(For Summi's consideration)
![IMG_20211207_181310_691.jpg](https://user-images.githubusercontent.com/68264080/145031546-a1f5116b-057a-4741-b3bc-1dbf6e7a185e.jpg)

[2021-12-07 13:24] cakesoft-swati commented on #5016
Duplicate of #4887

[2021-12-07 13:24] #5016 closed

[2021-12-07 13:31] cakesoft-swati commented on #5014
- Steps to reproduce:
1.Copy the donation link and open it in browser.
2.Click the Donate >Donate Now button and copy the address.
3.Now come to the app from same phone and send some sats to that address.
4.Now go to the website and check.
5.I have to refresh that page manually.

[2021-12-07 13:51] cakesoft-shashank commented on #5002
not able to reproduce

[2021-12-07 14:11] cakesoft-shashank opened #5021 "Shortlink redirection page"
Option 1: Disable the page and test deeplinks

Option 2: Customize the page with title, subtitle and image for each link type

[2021-12-08 04:16] Parsh commented on #5007
Might get resolved via: https://github.com/bithyve/hexa/pull/5015
We'll have to test it on the source device to confirm

[2021-12-08 04:39] cakesoft-swati commented on #4968
- Showing NaN when entering value as £1 for F&F gift flow

[2021-12-08 04:46] cakesoft-swati commented on #4995
- Verified this issue on live app v2.0.65(393)

[2021-12-08 04:46] #4995 closed

[2021-12-08 04:46] cakesoft-swati commented on #4985
- Verified this issue on live app v2.0.65(393)

[2021-12-08 04:46] #4985 closed

[2021-12-08 04:48] cakesoft-swati commented on #4984
- Verified this issue on live app v2.0.65(393)

[2021-12-08 04:48] #4984 closed

[2021-12-08 05:10] Parsh commented on #5014
Note: This is happening only when the browser app is sent to the background while the phone switches between the app and the browser, thereby, the continuous ping from the browser gets halted.

[2021-12-08 05:16] cakesoft-swati commented on #5018
- Text not changed
![temp (140)](https://user-images.githubusercontent.com/62699947/145151604-4eb95fb2-3cb2-4a0a-bc68-3bc0b177860d.jpg)

[2021-12-08 05:22] cakesoft-swati commented on #5001
- Verified this issue on dev app v2.0.7(394)

[2021-12-08 05:22] #5001 closed

[2021-12-08 05:28] cakesoft-swati commented on #4896
- Verified this issue on dev app v2.07(394)

[2021-12-08 05:28] #4896 closed

[2021-12-08 06:36] cakesoft-swati commented on #4835
- Able to recreate this issue.I installed the app and went to security and Privacy section.There on level 2 when I clicked on Share Recovery key 1 it showed me backup recovery key modal then I chose Personal device to backup.
![File (88)](https://user-images.githubusercontent.com/62699947/145159968-b0102c6f-c7b6-4a62-9b7c-0d4920dce0dd.jpg)

[2021-12-08 09:10] cakesoft-swati commented on #4562
- Verified this issue on dev app v2.0.7(394)

[2021-12-08 09:10] #4562 closed

[2021-12-08 09:41] cakesoft-swati opened #5023 "Heading is missing."
![temp (141)](https://user-images.githubusercontent.com/62699947/145185276-710194fa-e098-4aea-af15-a1d688f1d3e9.jpg)
- Level 2>first share(Personal device 1):HEading is missing on top.

[2021-12-08 09:47] cakesoft-swati opened #5024 "Post recovery:Cloud Backup"
![temp (142)](https://user-images.githubusercontent.com/62699947/145186192-10fc578c-8f66-49e3-801b-00ca775593c6.jpg)
- After wallet recovery when we go to security and Privacy section >Level 1 and if we click on Google Drive/icloud backup then nothing is happening.That button is not clickable.

[2021-12-08 09:51] cakesoft-swati commented on #5002
-Still facing same issue on android One plus 9R dev app v2.0.7(394)

[2021-12-08 10:00] cakesoft-swati commented on #4954
- change icon.I'm still able to see the old icon.
![temp (138)](https://user-images.githubusercontent.com/62699947/144176228-ecc68767-22fb-46e2-b52e-9f8940d76ea5.jpg)

[2021-12-08 10:02] cakesoft-swati commented on #4311
- Unable to recreate this issue so closing it for now.

[2021-12-08 10:02] #4311 closed

[2021-12-08 10:06] cakesoft-swati commented on #4823
- Closing this issue as discussed with dev.

[2021-12-08 10:06] #4823 closed

[2021-12-08 10:08] cakesoft-swati commented on #4687
- Closing this issue as discussed with dev.

[2021-12-08 10:44] ASN-BitHyve opened #5025 "Possible insufficient balance bug"
I have sufficient balance. I told the app to include fees in the gift amount and chose to create a gift of as much money as I could. Don't think there is any reason for the app to say "insufficient balance", except that the fees is higher than 6100 sats which I doubt.

![photo6161036277676354837](https://user-images.githubusercontent.com/68264080/145194638-2b3a41d4-75d3-45a1-add3-93c4d7a998b7.jpg)

[2021-12-08 11:10] ASN-BitHyve opened #5026 "Text Updation"
When a user is sending sats to a random user via a QR the text should say "External Address".

![File](https://user-images.githubusercontent.com/68264080/145198215-8369a252-03ae-4df9-99d4-9bd174688b64.jpg)

[2021-12-08 11:19] ASN-BitHyve opened #5027 "Text Updation - 1 day and not days"
![Screenshot_20211208-164639](https://user-images.githubusercontent.com/68264080/145199791-d04d03cd-661e-4fad-bdd4-f28af239414e.jpg)

[2021-12-08 11:29] ASN-BitHyve opened #5028 "Any notification should come immediately. A user should not have to refresh or kill the app for the notification to land within the bell icon area."

[2021-12-08 11:36] ASN-BitHyve opened #5029 "Possible issue in Search in App Store"
Hexa Wallet is not showing up in search drop down menu in App Store.
https://user-images.githubusercontent.com/68264080/145201891-bc14b378-f21d-4bcf-82f5-c43ac79c7136.MOV

[2021-12-08 11:49] ASN-BitHyve commented on #5029
![File](https://user-images.githubusercontent.com/68264080/145203660-93a6d2d1-96b5-4c6e-94e8-8288d4be3176.jpg)

[2021-12-08 12:02] cakesoft-swati commented on #4898
- Verified this issue on dev app v2.0.6(394)

[2021-12-08 12:02] #4898 closed

[2021-12-08 12:03] cakesoft-swati commented on #3807
- Verified this issue on dev app v2.0.6(394)

[2021-12-08 12:03] #3807 closed

[2021-12-08 12:22] cakesoft-swati commented on #4793
- No change happened here.
- It is still asking for confirmation twice and also there is no text-length and character restrictions.
- Tested on dev app v2.0.7(394)

[2021-12-08 12:24] cakesoft-swati commented on #4676
- Verified this issue on live 1.0 app.

[2021-12-08 12:24] #4676 closed

[2021-12-08 12:25] ASN-BitHyve opened #5030 "Batch Send flow improvement"
A user decides that they want to send sats to 3 friends.

They choose one friend, allot sats, they choose the second friend, allot sats. Come to the "Send" screen to choose the third friend.

Suddenly the user realizes that for whatever reason they don't want to send sats to a third friend.

There is no way right now for the user to go ahead and send sats to the previously two chosen friends. The

[2021-12-08 12:27] #4805 closed

[2021-12-08 15:42] ASN-BitHyve opened #5031 "Question mark required"
![Screenshot_20211208-211213_hexa.jpg](https://user-images.githubusercontent.com/68264080/145237887-a9c8ac89-518e-465a-a34f-6c7cf37da4fe.jpg)

[2021-12-08 15:51] ASN-BitHyve opened #5032 "Text change in notification"
The text should either say: Recovery Key backed up on Personal Device 1

OR

It should say: Keeper Request accepted by (Wallet name)

Please disregard the highlight I've made in the image.

[2021-12-08 17:11] ASN-BitHyve commented on #5028
a) Level 2> Recovery Key 1 being backed up on personal device 1.

[2021-12-08 17:24] ASN-BitHyve opened #5033 "Level 2 > Recovery Key 2"
Once a user has backed up Recovery Key 1 at level 2, and organically, logically clicks on Recovery key 2, he should not be told to back up Recovery Key 1. He should not have to come out of the modal, pull down the screen when the section refreshes, Personal device icon changes to the blue phone, and then go back in to try again.

[2021-12-09 06:00] antuz123 opened #5037 "QR to work with an external scanner"
1. The QR should be scannable by an external scanner
2. HEXA scanner should also be able to recognise it and directly start the flow (without having to jump to the webpage)
3. If someone does not have HEXA, the QR should take them to the store for download
4. This should apply to all QRs excluding the address QR

This would mean having the deep link on the QR so that it can do 2 as it will have al

[2021-12-09 06:35] ASN-BitHyve opened #5038 "Account updates should happen automatically after any transaction. A user should not have to pull down the screen or kill the app and come back in again."
I was sending Test sats from one device to the other. Having to pull down everytime to see the sats reflect in the account.

We have to ensure that even the accounts we introduce in future (joint accounts, etc) get refreshed in near real time.

[2021-12-09 06:45] ASN-BitHyve opened #5039 "Cloud Backup Note text change"
"You" and not "Your"

![photo6165828172688502312](https://user-images.githubusercontent.com/68264080/145347314-d99feb6f-bd95-4cd4-a671-78f65710384d.jpg)

[2021-12-09 08:27] cakesoft-swati opened #5042 "Localsation:UX issue."
**- when we change language from Wallet Settings> Currency and Language.**
- Some text overlaps.
- Some icons are appearing above the text.Some text is coming above the icon.
- App version is not showing in app info.
![temp (143)](https://user-images.githubusercontent.com/62699947/145360536-84259865-303a-4bc0-aa0d-cd98f2941988.jpg)

![temp (144)](https://user-images.githubusercontent.com/62699947/

[2021-12-09 08:37] cakesoft-swati opened #5043 "App Info:Version History."
![Screenshot_20211209-135849](https://user-images.githubusercontent.com/62699947/145362013-96c6284a-43fc-4bae-8206-d8cd94134cc1.jpg)

![temp (147)](https://user-images.githubusercontent.com/62699947/145362059-e1d87c2f-40ed-4679-8b52-8938561f7476.jpg)

- Different versions are showing on the app info page and on the version history page.

[2021-12-09 10:43] cakesoft-swati commented on #4913
- Verified this issue on dev app v2.0.7(396)

[2021-12-09 10:43] #4913 closed

[2021-12-09 10:55] cakesoft-swati commented on #4890
- Verified this issue on dev app v2.0.7(396).Unable to recreate this issue.

[2021-12-09 10:56] cakesoft-swati commented on #4793
- Verified this issue on dev app v2.0.7(395)

[2021-12-09 11:02] cakesoft-swati commented on #4993
![temp (148)](https://user-images.githubusercontent.com/62699947/145384492-74db99ad-8443-47c2-822a-88ffbe5ed26a.jpg)
- This change has not happened on the home screen.

[2021-12-09 11:07] cakesoft-swati opened #5046 "Edit wallet Name:app crashes when we go to edit wallet name."
- The app crashes when we click the "Next" button on the keyboard after entering a new wallet name on the "Edit Wallet Name" modal.
- Settings & More >App Info>Wallet Name

[2021-12-09 11:24] cakesoft-swati opened #5047 "Backup using PDF"
![Screenshot from 2021-12-09 16-20-20](https://user-images.githubusercontent.com/62699947/145385854-7da8ba3c-d741-4257-abbe-56d665a2a572.png)
- There are 2 pages showing in the PDF file but one page has QR code and the other is blank.

[2021-12-09 11:30] cakesoft-swati opened #5048 "Backup on a device."
- I have completed Level 1 with 'Encryption password' and 'Backup on Google Drive' then on Level 2 I shared Recovery key with Personal Device 1 but the text was wrong.It was showing 'Personal Device 2' and when I clicked on that it was showing 'Personal Device 1' on history page.
![File (90)](https://user-images.githubusercontent.com/62699947/145388405-8004344a-42df-44d1-a785-26e6f34bf315.jpg)

![

[2021-12-09 11:47] antuz123 opened #5049 "1.0: Logo and name"
- [x] Change the name of the 1.0 app to: "Legacy Hexa app - do not download"

- [x] Change the logo to something not even close to Hexa and having the word legacy/ do not download on it.

Idea if for making sure users don't download it. Both stores.

- [x] Also for 2.0: I suggest we change the names to 'Hexa 2.0 Bitcoin App' from 'Bitcoin wallet Hexa'

[2021-12-09 11:50] cakesoft-shashank opened #5050 "Change the name and logo of the wallet on the stores"

[2021-12-09 11:51] #5050 closed

[2021-12-09 12:43] cakesoft-swati commented on #4791
icons are not as per the UX.

[2021-12-09 12:55] cakesoft-swati commented on #5023
-  I have to do a manual refresh to see that heading.

[2021-12-09 14:11] cakesoft-swati opened #5051 "Backup with cloud"
![Screenshot_20211209-183137](https://user-images.githubusercontent.com/62699947/145411110-1f7ae080-b3c3-45b1-84ab-17fbfe38f49d.jpg)

![temp (149)](https://user-images.githubusercontent.com/62699947/145411202-2d8da656-f94b-471d-a20d-5225216e7122.jpg)
- I did cloud backup on level 1 and it was showing option of cloud backup on level 2 and level 3 also.
- But cloud backup is failing.

[2021-12-09 14:21] cakesoft-swati opened #5052 "Recovery keys are not getting confim again."
- I had completed Level 3 and after sometime it expired and I had to confirm. I Clicked on Confirm. But the backup was not getting confirmed.
- Personal copy,Cloud backup,Conatcat backup are not getting confirmed again.

[2021-12-09 16:50] antuz123 commented on #4936
@summikhan11 - additionally I will need a profile pic for me as a laser eyed Santa. Can just use a filter or something.

@ASN-BitHyve - let's think of people we want to gift for recognition. And the announcement on the 12th

[2021-12-10 06:53] cakesoft-swati opened #5054 "Not able to restore the wallet."
![Screenshot_20211210-103815](https://user-images.githubusercontent.com/62699947/145530269-5097f342-ece0-46a1-a2ea-51447c6f404c.jpg)

- I had completed level 3, the message was right on the home page too. But when I restored the wallet, the accounts were missing from the home page.
- The same thing happens when Level 1 is completed

[2021-12-10 09:16] summikhan11 commented on #5049
![App icon – Legacy](https://user-images.githubusercontent.com/85475736/145548940-3d2f76c1-3fe6-49a6-a009-d51ba779a138.png)

[2021-12-10 09:37] cakesoft-shivani commented on #4694
https://github.com/bithyve/hexa/issues/4884 this should be done after 4694

[2021-12-10 11:06] cakesoft-shivani commented on #5052
Personal Copy and Cloud will need user action to confirm
@cakesoft-swati

[2021-12-10 11:13] cakesoft-swati commented on #5039
- Verified this issue on dev app v2.0.7(398)

[2021-12-10 11:13] #5039 closed

[2021-12-10 11:16] cakesoft-swati commented on #4887
- Verified this issue on dev app v2.0.7(398)

[2021-12-10 11:16] #4887 closed

[2021-12-10 11:16] cakesoft-swati commented on #4883
- Verified this issue on dev app v2.0.7(398)

[2021-12-10 11:16] #4883 closed

[2021-12-10 11:18] cakesoft-swati commented on #4692
- Verified this issue on dev app v2.0.7(398)

[2021-12-10 11:18] #4692 closed

[2021-12-10 11:21] cakesoft-swati commented on #5024
- Verified this issue on dev app v2.0.7(398)

[2021-12-10 11:21] #5024 closed

[2021-12-10 11:35] Raheel1258 commented on #4974
@cakesoft-swati Unable to recreate this. FLow is working fine here with me

[2021-12-10 12:33] Parsh opened #5055 "Deeplink to QR"
We would like to include deeplink directly into QR rather than having a JSON object. This would allow for an external scanner to scan it and either open the app or redirect the user to the app store for download.

[2021-12-10 12:57] antuz123 commented on #4936
https://bithyve-workspace.slack.com/archives/C021PTT2R5M/p1639108259028700

[2021-12-10 12:59] antuz123 opened #5056 "Check Text for the Gift flow"
https://bithyve-workspace.slack.com/archives/C018J9CUR1N/p1639067751116300

[2021-12-10 13:22] cakesoft-swati opened #5057 "Accept Gift:if more than one person accepts the gift at the same time."

[2021-12-10 14:01] Parsh opened #5058 "Gift Concurency Lock"
We would need to have a lock around the fetch Gift API as multiple entities can try to fetch the gift concurrently and would end up w/ the gift(the round trip time of fetching, accepting, and updating gift status and removing the encrypted gift is in the order of few seconds).

The lock(lock timestamp?) would be applied as soon as an entity fetches the gift and would stay there for say 10/15 secon

[2021-12-11 05:47] ASN-BitHyve opened #5059 "Various images required"
1) Swan Integration Announcement Image required for Home Page banner - Desktop + Mobile

2) Gift Sats Feature Announcement image required for Home Page Banner - Desktop + Mobile

3) Appropriate celebrating Bitcoiners image:
a) One Announcement image, announcing that we're doing it.
b) A template to put in people's Twitter images to celebrate them. This image should have the Gift Card with the QR c

[2021-12-11 06:21] ASN-BitHyve commented on #4645
Monetization and ads on our 30sec video are already disabled( This is assured due to the copyright claim as well.)

Will work on points 2 and 3 after 17th December as the video editor is away.

[2021-12-11 07:45] ASN-BitHyve commented on #4994
Gift video uploaded on youtube.

Hexa 2.0 video shared with Shashank.

[2021-12-11 07:55] ASN-BitHyve opened #5060 "Post Live: You Tube Videos, also use on App Store"
App Store: Videos would be required in 5.5" and 6.5" variants.

[2021-12-11 08:02] ASN-BitHyve opened #5061 "Image to be repurposed for App and Play stores"
This is regarding the image that says "This year be a Sats Santa".

We need that image repurposed a little for the app stores. Text for the image:  "(1)This year be a Sats Santa (2) Follow @hexaWallet on Twitter to know how!"

Image required for both App stores in appropriate dimensions.

[2021-12-11 08:46] cakesoft-shivani opened #5063 "Add pdf for level 1"
- So the option for level 1 will be personal device and cloud
- If someone has skipped backup or it did not work, they can have any of these two options.
- If they have not provided an answer/ password, that will be asked first and then the backup step

[2021-12-11 08:54] summikhan11 commented on #4964
link is already provided, anything else needed from me?

[2021-12-11 08:54] Parsh opened #5064 "Upgrade Script: MB Data Pipeline"
We would need to write an upgrade script for versions upgrading from <2.07. The [pipeline](https://github.com/bithyve/hexa/pull/5044) re-structuring for BHR flow requires few variables to be introduced to the redux state(BHR reducer) from the database, ensuring that the flow doesn't break for the apps being upgraded.

Storage reducer:
Wallet::smShare

BHR reducer:
metaSharesKeeper & oldMetaSharesK

[2021-12-11 08:57] summikhan11 commented on #4853
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/50f3a2cc-f211-4431-bd6b-e98e028834d2/

[2021-12-11 08:57] Parsh commented on #4715
We'll require UI for naming the PD.

[2021-12-11 09:01] summikhan11 commented on #4867
@ASN-BitHyve please provide content

https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/adab612b-fb2c-451b-875a-c0c0f24a57fa/

[2021-12-11 09:02] summikhan11 commented on #4951
what is needed from me?

[2021-12-11 09:03] summikhan11 commented on #4936
@antuz123 i'll need a picture of you as Santa.

[2021-12-11 09:08] summikhan11 commented on #4963
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/45497806-ad0b-4d06-be3c-0c0f730c883a/

[2021-12-11 09:18] summikhan11 commented on #4989
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/000dce01-3316-49d4-9ce4-98ec88219dbe/

[2021-12-11 09:56] summikhan11 commented on #4842
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/bd2d2f2b-a93a-405e-b154-5cb41209d297/

[2021-12-11 13:59] cakesoft-shashank commented on #5054
@Parsh need to check why transactions are not getting restored

[2021-12-12 14:35] ASN-BitHyve opened #5068 "Unable to send funds after accepting gifts."
The user accepted a gift on 9th December.

The transaction has 6 confirmations.

This is the first transaction that the user is trying after accepting the gift.

Iphone. Fresh install. 2.0.65.

The user has tried sending sats via all the different priorities.

User Name: M**o
Platform: Telegram

https://user-images.githubusercontent.com/68264080/145716645-22547dd3-f131-495d-baff-52a505c02ea6.mp4

[2021-12-13 04:17] ASN-BitHyve opened #5069 "User unable to restore Hexa 1.0"
Hi there! I have an issue with the login. I destroyed my old iPhone, buy a new one, and at the same time, I downloaded Hexa 2.0. I cannot log in to my old Hexa (with the pin), I can log into the new one with the same pin, but then I tried to recover my account with no success. The recovery key did not work at all. It seems that it just don’t react. And with other option - is said to answer some qu

[2021-12-13 04:43] Parsh commented on #5057
Captured in #5058

[2021-12-13 04:43] #5057 closed

[2021-12-13 05:37] cakesoft-swati opened #5070 "Available to spend:It is getting messed up when adding a gift back to the account ."
- Available to spend gets messed up when adding a gift back to the account created from. It shows full amount as available to spend when one txn (not the gift coming back) is not confirmed yet. Check the Available to spend numbers when you add gift back. May be a reason why Send Max fails sometimes.
![Image from iOS (7)](https://user-images.githubusercontent.com/62699947/145757210-93836be6-6e13-42

[2021-12-13 05:42] cakesoft-swati opened #5071 "Dust limit issue"
![Image from iOS (8)](https://user-images.githubusercontent.com/62699947/145758402-bc4ac179-af4c-4e54-a581-94d0e2dfe847.jpg)
-  Dust limit keeps varying.I have seen this message before, but have easily been able create gifts of 1500 sats.
- Tried sending 5k out of 5.5k and it did not go. Sent 2k and it went.
- The dust limit is not the problem, the message is incorrect for sure.It should say reduc

[2021-12-13 08:23] Parsh commented on #4893
- I had completed level 3 But the message was incorrect on Home screen. (Resolved in 2.07)

[2021-12-13 08:39] cakesoft-swati opened #5072 "Backup on a device."
- When we click on Level 2>Share Recovery Key 1, it shows 'Share Now' button and if we click on that button it is showing Associate Contact Screen instead of QR Code.
- If we click on level 2 > share recovery key 1 and come back without doing anything and again if we click on level 2 > share recovery key 1 then it is not responding.

[2021-12-13 10:35] cakesoft-swati opened #5073 "Gift sats:Changes on 'Send Gift' screen."
![Image from iOS (9)](https://user-images.githubusercontent.com/62699947/145793140-5a2cfc05-453c-434a-b92b-6f273c626acf.jpg)
- It should be Gift Sats with capital S.
- The ratio of the card should be that is a regular card/ Twitter post, it seems to be higher.
- The first line should fit in one line for upto 15 characters in length.
- Company should also come in the same line.

**- Message (instru

[2021-12-13 11:48] cakesoft-swati opened #5074 "Unable to view the transactions after wallet recovery."
- I can see the balance on the home page and also on the accounts.
- I can also create and send gifts. Only I can't see the transaction on the account page and in the list of all transactions.

[2021-12-13 11:53] Parsh commented on #5068
@cakesoft-swati Can you please try to reproduce this? I've not been able to replicate this.

[2021-12-13 12:00] Raheel1258 opened #5075 "Workflow of Reclaimed Gift."

[2021-12-13 12:12] cakesoft-swati commented on #5054
- I can see the balance on the home page and also on the accounts.
- I can also create and send gifts. Only I can't see the transaction on the account page and in the list of all transactions.

[2021-12-13 12:12] cakesoft-swati commented on #5074
Duplicate of #5054

[2021-12-13 12:12] #5074 closed

[2021-12-13 13:01] Parsh opened #5076 "Send: Tx Failure Modal"
We should display an apt tx-failure modal on the Send Confirmation screen w/ error(ex: dust limit) from the transfeStage2 saga, instead of Confirm button getting re-enabled because it gives no clue to the user what went wrong(and therefore debugging it at our end is also harder).

Related to #5068

[2021-12-13 13:06] Parsh commented on #5071
Here: change UTXO is invalid atm(< dust limit). We might wanna include the change in the fee and get the tx going.
This is happening because the fee is getting statically included thereby not allowing the coinselection to expand fee to include the otherwise invalid dusty change into the fee.

[2021-12-13 13:19] Parsh opened #5078 "Gift Reject"
Once a gift is rejected, we don't delete it from the server(already implemented). Rather only a notif goes to the source wallet, that the gift has been rejected by xx, if the user reclaims and resend it that's only when the gifts land on a new channel w/ a new link.

Gift status should show that the gift has been rejected, on the gift details page(might already be happening).

[2021-12-13 13:42] antuz123 commented on #4842
@summikhan11 - the items for Advanced Options are:

2nd Factors (we will call them something else)
1. F&F identification - this will be only when F&F option is selected. Will be  email or phone number depending on what data we have. And the user can change it if they want from within this option. This selection can be shown on the next screen.
2. Simple OTP - when selected, the app generates it bu

[2021-12-13 18:47] summikhan11 commented on #4842
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/37d6d24f-6be7-4ed1-a2dd-01f39e367f42/

remove "add to friends & family" from here
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/da6e795d-c890-4ff1-bbc7-54c9f690be4a/

multiple denominations pending

[2021-12-14 06:27] cakesoft-swati commented on #5073
- Message (instructions)
1. For QR card - “Scan the QR and receive bitcoin in your Hexa 2.0 bitcoin wallet”
2. For link card - “Click on the link and follow the steps to receive bitcoin in your Hexa 2.0 bitcoin wallet”
Also,
When the link is shared as text then the message that goes before the link should be: “You have received a bitcoin gift from <name>. Click on the link and follow the steps to

[2021-12-14 06:33] cakesoft-swati commented on #5046
- Verified this issueon dev app v2.0.66(401)

[2021-12-14 06:33] #5046 closed

[2021-12-14 06:43] cakesoft-swati commented on #4974
-  Verified this issueon dev app v2.0.66(401)

[2021-12-14 06:43] #4974 closed

[2021-12-14 06:46] cakesoft-swati commented on #4993
- Still I can't see the changes on Home screen and on Edit screen.
- Checked this on dev app v2.0.66(401)

[2021-12-14 06:52] cakesoft-swati commented on #4973
- I did not see the change contact option.
- Tested on dev app v2.0.66(401)

[2021-12-14 07:32] cakesoft-swati commented on #4972
- This issue is still coming on dev app v2.0.66(401)
- After accepting the gift and adding it to the account, it is again showing the same accept/reject modal.And in the meantime my phone was locked and when I logged in again, the modal disappeared. I then created 2 new Donation accounts and when I landed on the account page I saw that same gift modal again that had disappeared.

Uploading 21-12-1

[2021-12-14 07:58] cakesoft-swati commented on #4766
![IMG_2598](https://user-images.githubusercontent.com/62699947/145956521-91e84665-a6a5-46a5-ad19-913a03091cb3.jpg)
- Tested on dev app v2.0.66(401)

[2021-12-14 08:45] cakesoft-swati commented on #4967
- Unable to see the changes as per the XD link.
- "create new" should be dark blue.
- check the shadow of "available"
- Tested on dev app v2.0.66(401)

[2021-12-14 09:03] cakesoft-swati commented on #4964
- I did not see any changes in dev app v2.0.66(401)

[2021-12-14 09:05] cakesoft-shashank commented on #5021
@antuz123 @summikhan11 please check the redirection page preview. We can customise title, subtitle and image

![simulator_screenshot_EC02666F-6D32-436A-8E02-5580FAAADE43](https://user-images.githubusercontent.com/50690016/145966992-9e4e9a7d-1cbc-4505-88f1-636f3d5fd98b.png)

[2021-12-14 09:05] cakesoft-swati commented on #4951
- Verified this issue on dev app v2.0.66(401)

[2021-12-14 09:05] #4951 closed

[2021-12-14 10:46] cakesoft-swati commented on #4946
- I didn't see any changes on dev app v2.0.66(401)

[2021-12-14 11:28] ASN-BitHyve opened #5080 "Issue raised by Swan User"
Message from Reed in Hexa + Swan Channel (that a user sent him):

We have a new bug report from user  ID: ba71d6aa-e4c0-4477-ba8c-db3e49afb3b5
“Hi!
By the way, I’m a seed investor in Hexa wallet.
I am unable to connect my Swan account to my Hexa wallet through the link provided within in Hexa.
Here’s the background. I’ve been doing weekly buys on Swan for 1-1/2 years and already had auto-withdrawa

[2021-12-14 12:31] cakesoft-swati commented on #4963
- Didn't see any changes in dev app v2.0.66(401)

[2021-12-14 12:32] cakesoft-swati commented on #4853
- Able to reproduce this issue in dev app v2.0.66(401)

[2021-12-14 12:36] antuz123 commented on #4842
Depending on what you select as a 2FA mechanism, that should also be visible in the gift details when you go back there - like top or answer or something

[2021-12-14 14:16] cakesoft-swati opened #5081 "Pre Live: Track auto suggestions"
- Play Store
- GitHub

[2021-12-14 14:28] ASN-BitHyve commented on #5068
Abhilash:
 "1) Did you have funds in the wallet (either purchased or received) before accepting the gift?
2) If yes, were those transactions confirmed?
3) Did you create a gift before or after receiving the gift that you did?
4) If you had created and sent a gift, had you reclaimed it?"

User:
1)no funds prior.
2)no prior funds
3)no, I haven’t created any gifts
4)no

[2021-12-14 14:37] cakesoft-shashank commented on #5069
For pin restore issue:
We are using [rn-secure-storage](https://github.com/talut/rn-secure-storage) to store the hash of pin. [rn-secure-storage](https://github.com/talut/rn-secure-storage) uses iOS Keychain api to store the values. There is this thread [app keychain not getting backed up/restored using iCloud backup](https://developer.apple.com/forums/thread/93373)

[2021-12-14 17:56] antuz123 commented on #5049
Check the updated name "Hexa 2.0 bitcoin wallet"

[2021-12-15 07:14] Raheel1258 commented on #5073
@cakesoft-shashank

[2021-12-15 11:45] Parsh commented on #5078
Note: Gift post rejection is not visible on any of the tabs at Manage Gift screen

[2021-12-15 11:50] cakesoft-shashank commented on #5049
@antuz123 app name "Hexa 2.0 Bitcoin App" for hexa 2.0 is updated on stores. Its under review on playstore and on appstore it'll update with build

[2021-12-15 12:10] Parsh commented on #5068
Haven't been able to replicate it. @cakesoft-swati Can you take a look at it?

[2021-12-15 12:53] Parsh commented on #5076
<img width="1440" alt="Screenshot 2021-12-15 at 6 08 25 PM" src="https://user-images.githubusercontent.com/17980466/146189592-9be0c80f-890d-4729-a774-310492a64baa.png">

executeST2 saga now provides an apt message on tx failure(primarily broadcast). Tho the send failure modal needs to open up in response to the action dispatched.

[2021-12-15 12:58] Raheel1258 commented on #4981
My task here is completed @Parsh

[2021-12-15 13:07] Raheel1258 commented on #4861
![simulator_screenshot_5FB35D95-58E4-4E8C-AC49-871195A3309F](https://user-images.githubusercontent.com/28229449/146191696-0300a8ba-b0ee-400d-84dc-c97909ba69cb.png)

[2021-12-16 04:22] cakesoft-shashank commented on #5069
Improvement suggestions:
1. Detect if using encryption password or security question and answer and change UI accordingly
2. Show message if password is incorrect
3. Show password hint on UI

[2021-12-16 04:34] antuz123 commented on #5075
Check if this is a duplicate @cakesoft-swati

[2021-12-16 04:36] antuz123 commented on #5075
Look at the text changes needed for the toast messages

[2021-12-16 04:47] antuz123 commented on #4973
Currently it is hidden. Need to see the latest UX flow from Summi to decide.

@summikhan11 - how will change contact work with the new flow? Do we even need it?

[2021-12-16 06:38] cakesoft-swati commented on #4695
- CTA should be visible on this screen. refer to VD.
![Screenshot_20211116-144634](https://user-images.githubusercontent.com/62699947/141957232-9c0cceb9-9ffe-42b3-b3c2-10d3a00599b5.jpg)

[2021-12-16 06:41] cakesoft-swati commented on #4695
- @summikhan11 Can you put Xd link here?

[2021-12-16 07:46] Raheel1258 commented on #4695
@summikhan11 Please provide XD

[2021-12-16 07:49] ASN-BitHyve commented on #5056
@Raheel1258 please change "Gift already rejected" to "Gift already accepted"

[2021-12-16 08:07] Parsh commented on #5058
Fetch API now has a lock(can only be used once), tho the source can still reclaim the gift in case of accidental breakdown of the gift acceptance saga.

[2021-12-16 08:49] cakesoft-swati opened #5086 "App is crashing on Account Management."
- After an account has been archived (on one of the test cases)
- iOS and Android both - new install.
- The app crashes when we click on Account Management from "Settings and more".

[2021-12-16 09:05] cakesoft-swati opened #5087 "Share via QR."
- When we scan the QR(Gift sats) to receive bitcoin it is not showing Accept/Deny modal on receiver side.
- Same happening for contact request as well.
- It is happening on iphone 7.Tested on dev app v2.0.66(402).It is showing modal only in case we send the link.
- It is not happening on Android devce.

[2021-12-16 09:36] ASN-BitHyve commented on #4680
@summikhan11 I think it is ok the way it is right now. The messages are very clear.

In the first image, if I say "Only alphabets allowed" and the user tries to name their wallet as " Abhilash Nair" the space between Abhilash and Nair is also a special character (leave apart the more obvious ones like @#$%,etc) which they might only realize after a try or two which is frustrating.

In the second i

[2021-12-16 09:36] #4680 closed

[2021-12-16 09:55] cakesoft-swati opened #5088 "Gift notification."
- Not receiving "gift denied" notification.
- It is visible in android device but notifications are coming late.
-  And I have not received notification in ios device.

[2021-12-16 10:06] cakesoft-swati opened #5089 "Gift status."
- After the gift decline, the status is not refreshing automatically, for this I had to go back to the F&F screen and re-open that gift detail page.Only then it is showing the Gift Accepted/Rejected status.

[2021-12-16 10:08] cakesoft-swati commented on #5078
- Verified this issue on dev app v2.0.66(402)

[2021-12-16 10:08] #5078 closed

[2021-12-16 10:15] cakesoft-swati commented on #5073
![temp (150)](https://user-images.githubusercontent.com/62699947/146352598-964f860c-29aa-4796-95f6-107576b92dca.jpg)
- The text of the link is going outside the box while sharing.

[2021-12-16 10:23] Parsh commented on #5089
We need a pull-down to refresh action on the Manage Gift screen(similar to what we've for F&F)

[2021-12-16 10:49] cakesoft-swati commented on #4678
- I go to Test Account to send test sats. Click on Send > Click on the QR image, the screen goes blank. I have to come out and go back in, this second time clicking on the QR image starts the camera.
- Also when we go to Confirm the personal copy when we click on confirm it asks for camera permission and when we allow it the screen came out and I came back to the confirm screen and second time cli

[2021-12-16 11:00] Parsh commented on #5088
On Android, the notification got delivered perfectly(came in a couple of seconds).

![Screenshot_20211216-162727](https://user-images.githubusercontent.com/17980466/146359563-7e3f6c59-0921-4317-949b-f2fc77ebd0da.jpg)

Someone needs to debug for iOS as I don't have an iPhone(and apparently on simulator notifications don't get delivered).

[2021-12-16 11:08] cakesoft-swati commented on #4968
- Verified this issue on dev app v2.0.66(402)

[2021-12-16 11:08] #4968 closed

[2021-12-16 11:17] cakesoft-swati opened #5090 "Currency switch issue."
- When we change the currency and came back to the Home page or Manage Gifts screen and try to switch the currency the currency switch is not working and when we go to other tabs and again came back to switch the currency then it's working.

[2021-12-16 11:23] cakesoft-swati commented on #4993
- Verified this issue on deva pp v2.0.66(402)

[2021-12-16 11:23] #4993 closed

[2021-12-16 11:25] cakesoft-swati commented on #4989
- Verified this issue on dev app v2.0.66(402)

[2021-12-16 11:25] #4989 closed

[2021-12-16 11:28] cakesoft-swati commented on #4967
Chech the icon in UX.The "+" icon of Create New Gift is also dark blue.

[2021-12-16 11:31] cakesoft-swati commented on #5071
- Verified this issue on dev app v2.0.66(402)

[2021-12-16 11:31] #5071 closed

[2021-12-16 11:38] antuz123 commented on #5089
@Parsh - gifts should be auto refreshed when you go to gifts. You should not need a pull down.

[2021-12-16 11:41] cakesoft-swati commented on #4766
- Verified this issue on dev app v2.0.66(402)

[2021-12-16 11:41] #4766 closed

[2021-12-16 11:55] cakesoft-swati commented on #5025
- Verified this issue on dev app v2.0.66(402)

[2021-12-16 11:55] #5025 closed

[2021-12-16 12:22] ASN-BitHyve commented on #4927
Release Notes 2.0.66:

Introduce your friends and family to bitcoin with Gift Sats

Fees is charged only once, while creating the gift.

After receiving Gift Sats you could add the sats to your account or gift it forward to your friends without incurring any fees.

Be a Sats Santa. Gift Sats this Christmas.

[2021-12-16 12:24] ASN-BitHyve commented on #4936
"Starting 21-12-21, we will start pleb giveaways. Where we will randomly put out QR codes for people to scan and accept."

Abhilash to lead this.

[2021-12-16 12:33] antuz123 commented on #4936
Use all channels...

[2021-12-16 12:37] antuz123 commented on #4927
Use bullets

[2021-12-16 12:42] ASN-BitHyve commented on #4927
Done

[2021-12-16 13:47] Raheel1258 commented on #4678
https://user-images.githubusercontent.com/28229449/146383232-e7d0cada-7c23-41f2-a15c-bf53bfc50853.mp4

@cakesoft-swati working fine as per described in build 403

[2021-12-16 13:58] cakesoft-swati commented on #5087
- Verified this issue on dev app v2.0.66(403)

[2021-12-16 14:35] cakesoft-shashank opened #5094 "Pin storage improvements and backup"
- Find alternative of [rn-secure-storage](https://github.com/talut/rn-secure-storage) which does not use keychain api
- Migration for existing users
- Option of forgot pin

[2021-12-16 14:36] #4678 closed

[2021-12-16 14:36] #4953 closed

[2021-12-16 14:37] cakesoft-shashank commented on #5069
Point 4 will be tracked in #5094

[2021-12-17 04:51] Parsh opened #5096 "Live Relay Deployment"
Deploy the latest relay changes on production post-approval from @cakesoft-swati

[2021-12-17 05:05] summikhan11 commented on #5061
https://xd.adobe.com/view/ec019ed7-5d7f-4e9f-a73d-ba75f254b45c-b952/

scroll to find both sizes

[2021-12-17 05:10] summikhan11 commented on #5059
https://xd.adobe.com/view/ff175839-dd75-4d46-8208-5fe20355d683-aa44/screen/e71751d5-0e6f-407c-b4a5-75bdc5b4c3d5/

scroll to find mobile too

[2021-12-17 05:20] Parsh commented on #5086
fixed by 6c4b6c7f7834e7717efa68deff0461a378616845

[2021-12-17 05:56] ASN-BitHyve opened #5097 "User feedback for a feature"
Very unnerving scanning a qr code and then not seeing the address. I don't see the address until AFTER I've sent
 it.![IMG_20211217_112545_431.jpg](https://user-images.githubusercontent.com/68264080/146496426-d70ac04f-2345-4d75-b781-d1f33bade709.jpg)

[2021-12-17 06:12] cakesoft-swati commented on #5087
@shashank now it is showing accept/reject modal but it is taking 8/9 seconds to show.

[2021-12-17 06:23] cakesoft-swati commented on #2864
-   The initial button is clickable several times (when creating the wallet).
- Need to check other button click responsiveness.

[2021-12-17 07:28] cakesoft-swati opened #5098 "Theme is going outside the box."
-  The theme is going outside the box.
-  This is happening on both receiver and sender side.
-  Happening on upgraded and fresh installed app.
-  Alignment is not proper.Check alignment in all the cards.
-  After accepting a gift, when we go to add it to the account, the text of that card looks different.
![File (92)](https://user-images.githubusercontent.com/62699947/146358257-8e671451-baab-49c0

[2021-12-17 07:31] cakesoft-swati commented on #5073
- Verified this issue on dev app v2.0.66(404)
- Filed another issue regarding theme and text.

[2021-12-17 07:40] antuz123 opened #5099 "Countries supported"
Check the latest comment here:

https://github.com/bithyve/internal-docs/issues/172

[2021-12-17 08:42] cakesoft-swati commented on #5098
- invalid link
![IMG_0034](https://user-images.githubusercontent.com/62699947/146515376-5de509a6-8b77-4fc7-9c13-1a68642c8aca.PNG)
I scan a QR multiple time and I got this invalid QR error.

[2021-12-17 08:47] cakesoft-swati commented on #5087
- might be network issue.I scanned more QR and it took 2/3 sec.So closing this issue for now.

[2021-12-17 08:47] #5087 closed

[2021-12-17 08:48] cakesoft-swati commented on #5058
- Tested it on dev app v2.0.66(404)

[2021-12-17 09:41] #5058 closed

[2021-12-17 09:41] cakesoft-swati commented on #5056
- Tested this on dev app v2.0.66(404)

[2021-12-17 09:41] #5056 closed

[2021-12-17 09:44] cakesoft-swati commented on #5055
- Need to check this issue on live app.

[2021-12-17 09:49] cakesoft-swati commented on #5055
- Verified this issue on dev app v2.0.66(404)
- I scaned the Gift QR from external scanner and it open in the app.

[2021-12-17 10:06] #5049 closed

[2021-12-17 10:07] cakesoft-swati commented on #5049
Tested on playstore and Appstore.

[2021-12-17 10:10] cakesoft-swati commented on #5012
- Verified this issue on dev app v2.0.66(404)

[2021-12-17 10:10] #5012 closed

[2021-12-17 10:14] cakesoft-swati commented on #4963
- Theme is still missing here on Gift Detail screen.
- Tested on dev app v2.0.66(404)

[2021-12-17 10:17] cakesoft-swati commented on #4946
- Verified this issue on dev app v2.0.66(404)

[2021-12-17 10:17] #4946 closed

[2021-12-17 10:35] Parsh opened #5100 "Build number change"
We would need to change the build number from 2.0.7 to 2.0.70(as 2.0.7 < 2.0.66) to maintain semver standards and for the appropriate execution of upgrade scripts.

[2021-12-17 10:41] cakesoft-swati commented on #4893
- Verified this issue on dev app v2.0.66(404)

[2021-12-17 10:41] #4893 closed

[2021-12-17 10:43] cakesoft-swati commented on #4861
- Verified this issue on dev app v2.0.66(404)

[2021-12-17 10:43] #4861 closed

[2021-12-17 10:58] Parsh commented on #5089
@antuz123  Do we need to do something on this?

The Manage Gift page auto-refreshes once the user land on it but there's no way to refresh Manage Gift page while the user is on it.

[2021-12-17 11:03] Parsh opened #5101 "Gift: Max send"
With included fee checked, the app is not able to create a Gift using the complete available to send. A toast appears saying insufficient balance.

![Simulator Screen Shot - iPhone 11 Pro Max - 2021-12-17 at 16 31 16](https://user-images.githubusercontent.com/17980466/146534922-7d2ffc85-1b12-4d4b-9d4f-ee9f721ddecc.png)

[2021-12-17 11:20] ASN-BitHyve opened #5102 "Error message while setting up passcode."
When setting up a wallet, if a user enters a different passcode the second time. A message should pop up that says, "Passcode entered is different from the first one."

![Uploading u{1ed050b} (f686ef3b-01e6-4e18-acca-56489f5f71d5 id=0x7f0a0190 tag=CreateIssueFragment) …]()

[2021-12-17 11:28] cakesoft-swati commented on #5069
- Verified this issue on Hexa 2.0 dev app v2.0.66(404)
- Need to test this for Hexa 1.0 Moving it in 2.07

[2021-12-17 11:34] cakesoft-swati commented on #4964
- Verified this issue on dev app v2.0.66(404)

[2021-12-17 11:34] #4964 closed

[2021-12-17 11:34] cakesoft-swati commented on #5086
- Verified this issue on dev app v2.0.66(404)

[2021-12-17 11:34] #5086 closed

[2021-12-17 11:47] cakesoft-swati commented on #4853
- When we select Skip contact to send the gift to the F&F, it is showing blank icon and also the QR code is constantly loading and the link is also showing that it is being created and yet we try to share that link then it shows "Null" message or shows "unable to share file".

[2021-12-17 11:52] cakesoft-swati commented on #4718
- Verfied this issue on dev app v2.0.66(404)

[2021-12-17 11:52] #4718 closed

[2021-12-17 12:24] antuz123 opened #5103 "7 day validity"
Default option of - This link is valid for 7 day.

Option 1 - Let user insect it
Option 2 - Let user give a different date
Option 3 - always has a validity. No need to change (suggested)

[2021-12-17 12:30] Parsh commented on #5103
- Validity check happens at the API level(rather than the sender expiring gifts explicitly)
- Once a gift has been expired(time-passed > validity), the sender app does an auto reclaim for such gifts and puts them into the available gift section while the manage gift screen syncs.

[2021-12-17 14:15] cakesoft-swati commented on #5027
- Verified this issue on dev app v2.0.66(404)

[2021-12-17 14:15] #5027 closed

[2021-12-17 14:32] cakesoft-shashank commented on #5061
@ASN-BitHyve ss is updated

[2021-12-17 14:37] cakesoft-swati commented on #4981
I upgraded staging app v2.0.65(393) to 2.0.66(404).My test account was hidden in previous version and when I upgrade it to 2.0.66(404) test account was there it got unhide automatically in upgraded version.

[2021-12-18 08:27] ASN-BitHyve opened #5107 "Swati to check Android variants"
The context: Swati many a time has said that bugs that others have reported don't reproduce for her. She has also reported a hunch saying that issues maybe phone specific. I think it maybe due to different companies using different Android variants.

The action:
1) Swati to check whether variation in Android variants causes other apps to develop bugs as well.
2) If yes, Swati to identify best prac

[2021-12-18 09:03] ASN-BitHyve opened #5108 "Simple Passcode indicator"
If a user inputs a simple passcode like:

1111,....,nnnn., 1234(and such sequential numbers) the app should give a warning message saying, "You are setting up an easily guessable passcode. Sure you want to set it?"

[2021-12-18 09:20] ASN-BitHyve opened #5109 "Opening screen message"
On the very first screen the message should be:

"Hello! Welcome to Hexa. A self-custody, bitcoin-only wallet. Buy, hodl and transact with ease."

Below this message it should say, "Create a login passcode."

![Screenshot_20211218-144442_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/146636148-310ce5a8-1d5c-40f8-b5e0-23c2ec65cce0.jpg)

[2021-12-18 09:39] ASN-BitHyve opened #5110 "Remove full stop"
![Screenshot_20211218-150831_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/146636608-757137c3-34bd-4995-adff-bde6d45d7e3b.jpg)

[2021-12-18 09:44] ASN-BitHyve opened #5111 "The arrow head should be other way."
Right now their directions indicate going backwards. Let's show forward motion.

![Screenshot_20211218-151127_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/146636728-cfb6e1dc-ac8f-4be1-88f4-815e1890a2b4.jpg)

[2021-12-18 10:35] ASN-BitHyve opened #5112 "Text updating during login"
"... you can recover it..."

The word "it" needs to be added.

![Screenshot_20211218-151644_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/146636779-7b4d84bd-970c-4d49-a92d-9067e61eb24a.jpg)

[2021-12-18 11:15] ASN-BitHyve opened #5113 ""Make sure to remember it" should be highlighted"
![Screenshot_20211218-164439_hexa dev.jpg](https://user-images.githubusercontent.com/68264080/146638973-1932b799-bc77-49e6-b3b8-7f8322129732.jpg)

[2021-12-18 11:19] ASN-BitHyve opened #5114 "The screen jerks in Android. Doesn't happen in ios"
https://user-images.githubusercontent.com/68264080/146639076-5180af57-30fc-4f09-b01d-ad12722778a9.mp4

[2021-12-18 12:25] ASN-BitHyve opened #5115 "Confirm button > Level 2> Recovery Key 2"
Once a user has sent away Recovery Key 2 at Level 2 using a pdf he is supposed to confirm it by pressing the confirm button.

I think the button itself (Next to "Personal Copy") should change to "Confirm Copy". On clicking it, the QR Scanner opens up.

The same should happen at Level 3 > Recovery Key 2 > "Backup using pdf"

[2021-12-18 12:29] ASN-BitHyve opened #5116 "Backup flow messaging"
Level 2 > Recovery Key 1

"Click the button below after scanning" This line to go between QR Code and the button.

![File (1)](https://user-images.githubusercontent.com/68264080/146641032-0f7e5975-7742-42e4-a75a-3f4138adff17.jpg)

[2021-12-18 12:36] ASN-BitHyve commented on #5038
Similar issue (from user's perspective): I have to pull down from top to see Recovery key backed-up ( Level 2> Recovery Key 1). Should happen automatically and immediately.

[2021-12-18 12:56] ASN-BitHyve commented on #5116
Level 2> Recovery Key 2:
Below the QR it should not say f and F Request. It should say "Recovery Key 2"

![File (2)](https://user-images.githubusercontent.com/68264080/146641901-8ca88b87-5a42-434e-9d1d-deebf759f0e9.jpg)

[2021-12-18 13:06] ASN-BitHyve commented on #5116
Scan QR section: Replace the text highlighted with: "Ask your Contact to scan QR and click Accept"

Share link section: Replace the text highlighted with: " Ask your Contact to click on the link, then click Accept"

![File (1)](https://user-images.githubusercontent.com/68264080/146642128-35789635-20dc-42fe-ab34-f063c84097a8.jpg)

[2021-12-18 13:13] ASN-BitHyve opened #5117 "Level 2> Recovery Key 2 Notification issue"
In 2.0.65 live app when Level 2> Recovery Key 2 is scanned ( Approval Key hasn't been scanned yet). you get a notification that Keeper Request accepted but it doesn't show up in the bell icon section.

[2021-12-18 13:57] ASN-BitHyve commented on #5116
Below the link - The following message should go:

After your Contact accepts above F and F Request, ask them to scan the Approval Key from your Personal Device > Security & Privacy > I am the Keeper of > " <user wallet name> "

![IMG_0005](https://user-images.githubusercontent.com/68264080/146643213-bb64b63c-006a-4011-99a6-1010ff2cd313.PNG)

[2021-12-18 15:05] ASN-BitHyve opened #5118 "Backup flows to be checked"
Level 1 - Usual process
Level 2 - Personal Device - Usual process.

Set 1
Level 2 - Recovery Key 2 - Backup with contact
Level 3 - Rec. Key 1 - Backup with contact
Level 3- Rec. Key 2 - Backup with contact

Set 2
Level 2 - Recovery Key 2 - Backup on a device
Level 3 - Rec. Key 1 - Backup with a contact
Level 3- Rec. Key 2 - Backup with contact

Set 3
Level 2 - Recovery Key 2 - Backup using a pdf
L

[2021-12-18 15:10] ASN-BitHyve opened #5119 "Level 3 backup bug"
I backedup a recovery key on a friend's phone successfully. Initiated the process to backup using pdf. And then deleted the hexa app in my friends phone. The app gave me the error visible on top. It's talking about not being able to backup personal copy whereas it should be saying, "Recovery Key with Arjun unavailable. Check with them."

![20211218_203611.jpg](https://user-images.githubusercontent

[2021-12-18 15:30] ASN-BitHyve opened #5120 "Apple buttons hiding "Yes I have shared button""
![Screenshot 2021-12-18 at 8 51 32 PM](https://user-images.githubusercontent.com/68264080/146646452-37c3301f-6695-4265-9ad1-fe6c699a4095.png)

[2021-12-19 04:39] antuz123 opened #5122 "Support other browsers for deep links"
Many browsers on Android, don't work if set to default, for the links.

[2021-12-19 05:34] ASN-BitHyve opened #5123 "Bitcoin 4 India conference logo"
We're planning a bitcoin only event for February 26th 2022. Need a logo for the event.

Suggestions: The logo to comprise of 1) Brandmark 2) Logotype 3) Tagline

Regarding Brandmark: We're clear that it has to be a Bitcoin focused event and not Hexa focused. So the brandmark should depict that.

Abhilash's personal preference: The brandmark should be more of an insignia, with lots of intricate det

[2021-12-19 16:42] ASN-BitHyve opened #5124 "User facing issue in transfering sats from Savings Account in Hexa 1.0"
Hexa 1 is crashing when the user is trying to move their funds from Savings Account into Hexa 2.0

Username: @chagomanso - Telegram

https://user-images.githubusercontent.com/68264080/146683117-e10c4f15-9dbe-413b-93a8-3c4ff75bf2da.mp4

Version history:

![IMG_20211219_221413_716.jpg](https://user-images.githubusercontent.com/68264080/146683240-0ac8fc46-a053-4583-97c6-f57d3ce40ddd.jpg)

![IMG_20211

[2021-12-19 20:46] Giszmo commented on #2544
Is this issue still unresolved? It's been a while since last activity.

[2021-12-20 06:14] cakesoft-swati opened #5125 "Changes in Security password option."
- Allow the user any text in the security password option (not restricting them anymore)
1.This is for the option where users can choose their own paraphrase.
2.There is also an issue where the second answer allows capitals while first does not.
3.This will also obviously apply to the change answer flow field for the same and to the restore field for the same (also to confirm answer field).

[2021-12-20 06:43] cakesoft-swati commented on #5098
![File (94)](https://user-images.githubusercontent.com/62699947/146723138-0a194dac-1a1c-40ee-bc97-8dd71aecad1c.jpg)
- Text is still going outside the box.
- Tested app v2.0.66(405)

[2021-12-20 07:44] cakesoft-swati commented on #5073
- For link card - “Click on the link and follow the steps to receive bitcoin in your Hexa 2.0 bitcoin wallet”
Also,
When the link is shared as text then the message that goes before the link should be: “You have received a bitcoin gift from . Click on the link and follow the steps to receive bitcoin in your Hexa 2.0 bitcoin wallet”. This will be followed by the link on a new line.
- Like we get in

[2021-12-20 08:18] cakesoft-swati opened #5126 "Message on Gift cards."
-  Message (instructions)

1.For QR card - “Scan the QR and receive bitcoin in your Hexa 2.0 bitcoin wallet”
2.For link card - “Click on the link and follow the steps to receive bitcoin in your Hexa 2.0 bitcoin wallet”
Also,
- When the link is shared as text then the message that goes before the link should be: “You have received a bitcoin gift from . Click on the link and follow the steps to rece

[2021-12-20 11:19] cakesoft-shashank commented on #5073
Duplicate of #5126

[2021-12-20 11:50] summikhan11 commented on #5102
![First time – Login – Errors](https://user-images.githubusercontent.com/85475736/146762957-f140674e-ab4f-4c4d-bce1-991715a8bf24.png)
all errors to show like this.

[2021-12-20 11:51] cakesoft-swati commented on #5073
Duplicate of #5126

[2021-12-20 11:51] #5073 closed

[2021-12-20 12:02] summikhan11 commented on #5109
we can actually have  3-4 screens on startup highlighting the apps most important features or our highest selling points @ASN-BitHyve

[2021-12-20 12:12] Parsh commented on #5103
@cakesoft-swati Gift validity expires in 10 mins on the Dev app(would help with testing, expiry, and auto-reclaim).

[2021-12-20 12:19] antuz123 commented on #5103
Where to put the text @summikhan11

[2021-12-20 12:26] Parsh opened #5128 "Prod Relay Deployment"
Once @cakesoft-swati approves the following issue #5103, we should deploy the changes to Live/Prod Relay

[2021-12-20 12:54] cakesoft-shashank opened #5129 "Password to expire every 14 days (instead of 45)"

[2021-12-20 13:33] summikhan11 commented on #4842
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/

look for screens:
Gift Details – Advanced Settings – Custom Secret Phrase
Gift Sats – Send – QR – Change contact
Gift Sats – Send – Short OTP
Gift Sats – Send – Long OTP
Gift – Details – Available Gift

content updates pending

[2021-12-20 13:35] summikhan11 commented on #5103
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/7d0d5473-d062-4f57-b424-b2f6e181c2cc/

[2021-12-20 15:44] ASN-BitHyve opened #5132 "Conference website"

[2021-12-20 17:10] antuz123 commented on #5060
Also use the videos on YouTube

[2021-12-20 22:52] summikhan11 commented on #4963
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/45497806-ad0b-4d06-be3c-0c0f730c883a/

[2021-12-20 22:54] summikhan11 commented on #4958
https://xd.adobe.com/view/ff175839-dd75-4d46-8208-5fe20355d683-aa44/

scroll for all sizes

[2021-12-20 22:56] summikhan11 commented on #4973
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/1938a770-0d88-40ae-a590-cb528420fb18/

[2021-12-20 23:03] summikhan11 commented on #5102
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/screen/b0f25375-b377-4c08-85bf-f2a6c7feca0a/

[2021-12-21 04:13] Parsh opened #5133 "Encrypted Gift Lock"
The gift lock should be removed if the encryption fails and the gift should be available for download.

[2021-12-21 05:25] cakesoft-swati commented on #5101
- Verified this issue on dev app v2.0.67(406)

[2021-12-21 05:25] #5101 closed

[2021-12-21 05:39] ASN-BitHyve commented on #5059
@akshaytikle please update the website with the images.

[2021-12-21 06:31] cakesoft-swati commented on #5126
- Verified this issue on dev app v2.0.67(406)

[2021-12-21 06:33] cakesoft-swati commented on #5088
- Verified this issue on dev app v2.0.67(406)

[2021-12-21 06:33] #5088 closed

[2021-12-21 06:36] cakesoft-shashank opened #5134 "Disable backup request on homescreen"

[2021-12-21 06:41] cakesoft-shashank opened #5135 "Google auth modal improvements"
- [ ]  Add a info/confirmation modal with "skip" option before asking auth request
- [ ]  If user skips then do not ask auth request again unless user goes into BHR

[2021-12-21 06:47] cakesoft-swati commented on #5103
- Verified this issue on dev app v2.0.67(406)

[2021-12-21 06:56] cakesoft-swati commented on #5098
- Verified this issue on dev app v2.0.67(406)

[2021-12-21 06:56] #5098 closed

[2021-12-21 07:31] cakesoft-swati opened #5136 "Swan:Link is breaking when try to sign in."
- User was trying to sign up and grab the $10 for signing up to Swan thru Hexa wallet. He had one-password and 2FA set up through his account. The link was broken when he tried to sign into his account thru Hexa.

https://user-images.githubusercontent.com/62699947/146888752-4bf3b334-e8ae-48eb-86e5-3f6564ab3a63.MP4

[2021-12-21 07:34] cakesoft-swati opened #5137 "Short link for Contact keeper."

[2021-12-21 07:46] ASN-BitHyve commented on #4832
@akshaytikle please update the website Terms and Conditions section.

[2021-12-21 16:41] cakesoft-swati commented on #5137
- Verified this issue on dev app v2.0.67(407)

[2021-12-21 16:41] #5137 closed

[2021-12-21 16:42] ASN-BitHyve opened #5142 "Consider adding the term "conf""
![Confirmations](https://user-images.githubusercontent.com/68264080/146966345-1d6ad6aa-194a-4ee5-9913-74c6c0bf5366.jpg)

The image is from Andreas' new book on Lightning.

[2021-12-21 16:48] cakesoft-swati commented on #5125
- Verified this issue on dev app v2.0.67(407)

[2021-12-21 16:48] #5125 closed

[2021-12-21 16:57] cakesoft-swati opened #5143 "Post recovery:Unable to access savings account."
- After post recovery level 2 was completed still I could not use the savings account.It was showing me the message "Complete Level 2".
![Screenshot_20211221-222516](https://user-images.githubusercontent.com/62699947/146968852-098d6b6d-4dcc-4245-aad9-497cd8a517f6.jpg)

![temp (151)](https://user-images.githubusercontent.com/62699947/146968913-e450beae-e861-4058-92bf-80b0a9b142f3.jpg)

[2021-12-21 17:22] cakesoft-swati opened #5144 "Text is going outside the box."
![temp (152)](https://user-images.githubusercontent.com/62699947/146971286-bdc99db3-e5b8-4bb2-9850-046f0268f7a5.jpg)

![temp (153)](https://user-images.githubusercontent.com/62699947/146971380-31eaa404-191c-4cfb-816b-eeb742e6f7f1.jpg)

![IMG_20211221_224050](https://user-images.githubusercontent.com/62699947/146972217-38ca9e1d-4cba-4d31-93df-d00def96a86d.jpg)

![IMG_20211221_224037](https://user-i

[2021-12-21 17:41] cakesoft-swati opened #5145 "Post restore:Backup with Contact."
- If we have backed up the contacts, this option does not show the heading at the time of wallet recovery.
![IMG_0076](https://user-images.githubusercontent.com/62699947/146974519-24e12eea-e59f-4166-a8e9-bee07f904e39.jpg)

[2021-12-21 19:19] summikhan11 commented on #4842
added screens:

Home – Accept Gift Sats – Enter email address
Home – Accept Gift Sats – Enter OTP

[2021-12-22 04:51] antuz123 commented on #4842
1. Sender side - post "I have shared" modals - Simple OTP and Long OTP - touch to copy - check UX @Raheel1258
2. Receiver side - on accepting - simple OTP, Long OTP, email, phone number, Secret phrase - make it like F&F request acceptance @cakesoft-shashank
3. Sender side - gift details - all scenarios - touch to copy - Check UX (only the row to show, rest of the gift details can follow later) @Ra

[2021-12-22 06:23] cakesoft-swati opened #5147 "The app crashes when we are on the password screen and click in the background."
- At the time of Wallet setup, if we choose any password option, such as security question or our own encryption password and we click in the background, the app is crashing.
- Tested on dev app v2.0.67(407)
- Also in case of Own encryption password if we close that modal by clickin cross button and came back to the "Create initial cloud backup screen" and again we select encryption password then

[2021-12-22 06:38] cakesoft-swati commented on #5134
- Verified this issue on dev app v2.0.67(407)

[2021-12-22 06:38] #5134 closed

[2021-12-22 06:39] cakesoft-swati commented on #5129
- Closing this issue as discussed with dev.

[2021-12-22 06:39] #5129 closed

[2021-12-22 06:44] cakesoft-swati commented on #5133
- Verified this issue on dev app v2.0.67(407)

[2021-12-22 06:44] #5133 closed

[2021-12-22 07:15] cakesoft-swati opened #5148 "Send Gift screen:It is taking time to show the changes made on the gift details screen."
- If we go to the send screen by making some changes on the gift detail screen, then the send screen is taking time to update.

https://user-images.githubusercontent.com/62699947/147051204-c82bbb41-1ba0-4b08-a35b-95f7d7b643c8.mp4

[2021-12-22 07:44] cakesoft-swati opened #5150 "Custom Secret Phrase."
![image (5)](https://user-images.githubusercontent.com/62699947/147055728-0aa82475-8eeb-4ad2-950f-90064ac080cb.png)

- I had added 21 million in custon secret phrase and got these errors.

![Image from iOS (10)](https://user-images.githubusercontent.com/62699947/147054516-6125dbd2-7601-4670-9a93-09033115f152.jpg)
![Image from iOS (11)](https://user-images.githubusercontent.com/62699947/147054525-2

[2021-12-22 08:09] ASN-BitHyve opened #5152 "Regarding gift message"
1) I (as a user) create a gift. Write a custom message send it. Click on yes I have shared. Let's say via QR.

2) Come to the sent section. I can see the gift I sent. I want to resend the gift. This time via a link.

3) So I click resend. The message that I previously wrote is not getting caught in this process and I'm given the default message. Thus I will have to rewrite my message.

A user's me

[2021-12-22 08:24] ASN-BitHyve opened #5153 "Gift link creation is taking a long time"
In 2.0.65 Android live - I say share via link, the phone's modal opens up to share via different apps, but the link does not get ready. I click anywhere outside the phone's sharing modal to return to Hexa wallet share screen. Still the link hasn't been created. I click the back button. Click the share via link button again. Then the link is instantly visible to me.

[2021-12-22 09:16] Parsh commented on #5150
Cause: Base 64 encoding of the hint/note(to retain special characters, like spaces), base 64 has / as a valid char and therefore the deeplink was breaking(as it uses / as the separator)
Solution: Hex encoding of hint/note

[2021-12-22 09:39] cakesoft-swati opened #5155 "Even if I have changed the wallet name then on gift acceptance modal it always shows the old wallet name."
![Screenshot_20211222-132648__01](https://user-images.githubusercontent.com/62699947/147071227-51a12ed2-f158-4e48-8d05-876d2a5e2884.jpg)

- Here the new wallet name is Santa.
![ReactNative-snapshot-image2042736431271703968](https://user-images.githubusercontent.com/62699947/147071626-4fc0e938-dd89-447f-985b-55660429842c.jpg)

[2021-12-22 09:55] cakesoft-swati opened #5156 "Time stamp."
- On gift cards it always shows the time that is at he time of gift creation.Even after accepting the gift, it still shows the same old time.
- In the case of reclaimed gift it always shows "invalid date" text instead of date and time.
![temp (155)](https://user-images.githubusercontent.com/62699947/147073646-d9ba99d6-e11e-4909-82e0-e2049f1ba041.jpg)
- This is happening post recovery.

[2021-12-22 10:23] cakesoft-swati commented on #5153
It is not reproducible.

[2021-12-22 10:24] #5153 closed

[2021-12-22 11:14] cakesoft-swati opened #5158 "Resend Gift: If the status of the gift hasn't changed we can resend it to multiple people."
- If I have sent a gift but it is not accepted on the other side, then I can resend that gift.In this case if the user has accepted this gift but the status of the gift has not changed.
- So I can send this same gift to other people also and they are able to accept it.

[2021-12-22 12:13] cakesoft-shashank opened #5160 "If Google Play services unavailable"
Check following points

-  Check BHR
-  Firebase
-  Shortlinks
-  Alternative options

Explore what is to be done regarding Huawei phones not supporting Google.

[2021-12-22 12:46] antuz123 commented on #4927
2.0.67 release notes:

Advanced Second Factor option for gifts
Bug fixes and improvements

[2021-12-22 12:48] Parsh opened #5161 "User name swap"
<img width="1440" alt="Screenshot 2021-12-22 at 6 05 12 PM" src="https://user-images.githubusercontent.com/17980466/147095210-71a43c3a-d8ce-4166-8bf8-46ccfa5a4ea6.png">

@Raheel Ahmed @Shashank This change should default the name to username(and if username is not present then use the wallet name)

Note: one useEffect has been broken into two separate useEffects

[2021-12-22 12:50] Parsh commented on #5161
This is the code;

 useEffect( () => {
    setDropdownBoxList( ThemeList )
  }, [] )

  useEffect( () => {
    setName( wallet.userName? wallet.userName: wallet.walletName )
  }, [ wallet.walletName, wallet.userName ] )

[2021-12-22 13:10] cakesoft-shashank commented on #4927
@antuz123 @ASN-BitHyve these are 2.0.66 release notes. Should I append it with above?

Introduce your friends and family to bitcoin with Gift Sats

•  Fees is charged only once, while creating the gift.

•  After receiving Gift Sats you could add the sats to your account or gift it forward to your friends without incurring any fees.

Be a Sats Santa. Gift Sats this Christmas.
_____________________

[2021-12-22 16:11] antuz123 opened #5166 "Bitcoin Design review"
Review the wallet design with the Bitcoin Design team

[2021-12-22 16:47] cakesoft-swati commented on #5147
- Verified this issue on dev app v2.0.67(408)

[2021-12-22 16:47] #5147 closed

[2021-12-22 16:51] cakesoft-swati commented on #5150
- Verified this issue on dev app v2.0.67(408)

[2021-12-22 16:51] #5150 closed

[2021-12-22 16:51] cakesoft-swati commented on #5144
- Verified this issue on dev app v2.0.67(408)

[2021-12-22 16:51] #5144 closed

[2021-12-22 17:19] cakesoft-swati commented on #5161
- Verified this issue on dev app v2.0.67(408)

[2021-12-22 17:32] cakesoft-swati commented on #5161
- Now it is showing wallet name as a user name on Gift detail screen.After that I changed the wallet name but user name was still same as old wallet name.In case of F&F it is not showing user name on Send screen. and on acceptance gift card it is showing Changed wallet name.
- And in case of other scenarios it was showing user name on both Enetr gift details screen and send screen.

[2021-12-22 17:38] cakesoft-swati opened #5167 "Share OTP."
- If we click on "Show OTP" after sharing the link/QR then it pops up Share OTP modal.If we click proceed button then it came back to the "Enter gift details screen" and again I had to do the same procedure.
- In case of "Custom secret phrase" if we click Show OTP button after sharing the link/QR it came back to the send screen.
-  we need to take out the proceed button

[2021-12-22 18:07] cakesoft-swati opened #5168 "UI issues for Advanced options."
![Screenshot_20211222-233350](https://user-images.githubusercontent.com/62699947/147136370-348aa65e-3347-4680-9dda-331d377f3b94.jpg)
- Long OTP is going to another line.

![Slack Image (2021-12-22_23-46-42-451)](https://user-images.githubusercontent.com/62699947/147138092-78db5010-c1a9-4a81-a620-0d9921acceaa.jpg)
- Email Id is getting cut.

[2021-12-22 18:33] cakesoft-swati commented on #5158
- Verified this issue on dev app v2.0.67(408)

[2021-12-22 18:33] #5158 closed

[2021-12-22 18:55] cakesoft-swati opened #5169 "Advanced gift options."
- long OTP,phone number,email,phrase are not visible on gift details screen.It should be visible on Gift detail screen after sharing and not on send screen.
![temp (156)](https://user-images.githubusercontent.com/62699947/147191080-bfb9a035-a6e0-497f-81ad-b900e2365183.jpg)
- OTP,custom secret phrase should not be there in text on send screen
- Sender side - gift details screen - all scenarios - OT

[2021-12-23 02:43] antuz123 commented on #5167
Remove the proceed button from the modal.

[2021-12-23 04:34] Parsh commented on #5158
Pending:

Scenario: When the sender has already entered into the resend flow and the previous link has been used and the gift has been accepted.
Issue: If the sender then resends the gift, the channel won't be created on the server(therefore the new link is not gonna lead to a gift acceptance from the new recipient), however, the status of the gift would be sent to recipient on the sender's end.

[2021-12-23 04:34] Parsh opened #5170 "Resend flow issue"
Scenario: When the sender has already entered into the resend flow and the previous link has been used and the gift has been accepted.
Issue: If the sender then resends the gift, the channel won't be created on the server(therefore the new link is not gonna lead to a gift acceptance from the new recipient), however, the status of the gift would be sent to the recipient on the sender's end.

_Origi

[2021-12-23 05:28] cakesoft-swati commented on #4842
- Verified this issue on dev app v2.0.67(408)

[2021-12-23 05:28] #4842 closed

[2021-12-23 05:31] cakesoft-swati commented on #4734
- Verified this issue on dev app v2.0.67(408)

[2021-12-23 05:31] #4734 closed

[2021-12-23 05:35] #5075 closed

[2021-12-23 05:37] cakesoft-swati commented on #5076
- Verified this issue on dev app v2.0.66 as discussed with dev.

[2021-12-23 05:37] #5076 closed

[2021-12-23 06:53] summikhan11 commented on #5108
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/screen/075a0ba3-4edf-4138-8998-7c1f6ed06d6e/

[2021-12-23 07:10] summikhan11 commented on #4907
this doesn't seem fixed. please check again. the font is different as well.
Ive sent beta feedback as well

[2021-12-23 07:17] summikhan11 commented on #4419
few are not fixed

check
1. btc font on home page
2. add account fonts
3. "f&f request" under QR

[2021-12-23 12:14] cakesoft-utkarsh commented on #5014
Added an option to manually refresh the donation status.

[2021-12-23 14:11] cakesoft-swati commented on #5167
- Verified this issue on dev app v2.0.67(409)

[2021-12-23 14:11] #5167 closed

[2021-12-23 14:11] cakesoft-swati commented on #5169
- Verified this issue on dev app v2.0.67(409)

[2021-12-23 14:11] #5169 closed

[2021-12-23 14:44] ASN-BitHyve opened #5177 "Text Going haywire - Reported by a user on Twitter"
https://twitter.com/HexaWallet/status/1474027693897252866

Tagging @summikhan11 to observe.

[2021-12-23 14:46] summikhan11 commented on #5177
the currency switch is missing the symbol too.

[2021-12-23 15:02] ASN-BitHyve opened #5178 "Issue reported to Prasad by his friend"
"On the password it actually kept making my upper case letters automatically lower case on the first box

But the confirmation box it didn’t automatically do that. So they were a mismatch"

Cc: @Praasd

[2021-12-23 16:29] ASN-BitHyve opened #5179 "App was crashing while trying to accept gift."
The user has iphone 11 Pro and ios is 15.1.

Don't know if it was an upgraded app.

Abhilash sent a gift and the app crashed when gift link was clicked.

Abhilash requested the user to download and setup a new wallet, which the user did. Clicked on the gift link, was able to accept easily.

Anant's comment: "The new links are not recognised by the old apps that have been upgraded."

[2021-12-24 06:44] #4981 closed

[2021-12-24 07:05] ASN-BitHyve opened #5182 "Regarding passphrase gift flow"
A gift is accessible to many people.

One person claims it.

Everyone else should be shown the "Gift already claimed" message the moment they scan QR or click link.

"Gift already claimed" should not show up after a user has answered the passphrase (when that particular gift has already been accepted)

[2021-12-24 07:18] ASN-BitHyve opened #5183 "Bug in version history"
https://user-images.githubusercontent.com/68264080/147328567-6d893c7e-484b-44dc-a61f-1c4904962499.mp4

[2021-12-24 11:50] cakesoft-swati opened #5184 "Advanced options:UI issues."
- Long OTP and email id going to the second line. It should be in a line.
![temp_22](https://user-images.githubusercontent.com/62699947/147344454-456dacdc-6673-4e0b-8246-ebf8dcf7b394.jpg)

![temp_23](https://user-images.githubusercontent.com/62699947/147344461-645cd72d-fdb6-4f8e-8942-ea3abc439da6.jpg)

- Arrow is coming up on the card outline.It is happening only in case of christmas theme.
![just

[2021-12-24 12:04] cakesoft-swati opened #5185 "Blank OTP field."
![blank](https://user-images.githubusercontent.com/62699947/147350946-7a4e6449-7fa9-481c-9ee4-59a3ba030ae1.jpg)
- OTP field is shown blank in case there is no second factor.

![longotp (157)](https://user-images.githubusercontent.com/62699947/147351329-81c56180-4dbd-416a-8b20-3bfc6bff68e6.jpg)
- in case of No second factor and long OTP but that was in available section.

![expire](https://user-ima

[2021-12-24 12:09] summikhan11 commented on #4695
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/

all screens are here

[2021-12-24 12:09] ASN-BitHyve opened #5186 "Regarding Gift QR and link"
Till the previous release when sending a QR, the link used to go with it conveniently. And while sending the link, the QR went conveniently. It's not happening in 2.0.67. Let's revert to how it was earlier.

[2021-12-24 13:34] ASN-BitHyve opened #5187 "Passphrase case sensitivity"
Should it or should it not be case sensitive? If case sensitive, we need to communicate that.

[2021-12-24 16:23] cakesoft-swati commented on #5007
- Still not able to see hidden account from the old bug - need to write a migration script to forcefully show/ unhide/ un-archive specific accounts

[2021-12-24 16:28] cakesoft-swati opened #5188 "Post recovery:Unable to send from Savings account."
- Not able to send from Restored Savings account.
- Hexa 2.0
![Image from iOS (12)](https://user-images.githubusercontent.com/62699947/148063818-e64cb693-43d4-43c8-9e76-32abbfe35296.jpg)

[2021-12-24 16:40] cakesoft-swati opened #5189 "Custom secret phrase:QR/Link issue"
- If I chose Custom secret phrase from Advanced but didn't enter anything in that and just close that modal and Click on the Next button.Then I try to share with Link and also with QR.But the QR did not load and the link was not created.

https://user-images.githubusercontent.com/62699947/147364987-4bdfcdbf-1077-4797-a8c8-2d0e884d69d4.mp4

[2021-12-24 16:49] cakesoft-swati opened #5190 "Show selected advanced option on the screen where Gift theme is selected."
- The advanced option selected by the user should also appear on the screen where Gift theme is selected.

[2021-12-24 16:53] cakesoft-swati opened #5191 "Cross compatibility issue."
- Live app 2.0.65 crashes when I try to accept secret phrase (or any advanced option) gift from app v2.0.67.
- Also When I try to scan the F&F request,app crashes.

[2021-12-24 16:56] cakesoft-swati opened #5192 "Gift notifications."
- It seems that when people are scanning and getting a "Gift already claimed" message. The sender is getting a "Gift rejected by" message.
![Screenshot_20211222-161528_hexa](https://user-images.githubusercontent.com/62699947/147365736-f6662a84-b39e-477e-9348-e5eb72607390.jpg)

[2021-12-24 17:05] cakesoft-swati commented on #5055
- Verified this issue on live app v2.0.67(409)

[2021-12-24 17:05] #5055 closed

[2021-12-24 17:07] cakesoft-swati commented on #5014
- Verified this issue on dev app v2.0.67(409)

[2021-12-24 17:07] #5014 closed

[2021-12-24 17:10] cakesoft-swati commented on #5155
- Verified this issue on dev app v2.0.67(409)

[2021-12-24 17:10] #5155 closed

[2021-12-26 04:09] antuz123 opened #5193 "Gifts as accounts"
Currently what we can't do with Gifts:
1. See the total value of gifts you have
2. That total adding unto the wallet total you have in your wallet (as technically you have that amount)
3. Send gift from gifts. If I get gifts and I have to send smaller gifts, I have to first transfer them to an account and then create a new gift
4. Mix the UTXOs with account UTXOs if I have to use the gifted money

[2021-12-26 04:10] antuz123 opened #5194 "Linking Swan to any account"

[2021-12-26 04:24] antuz123 opened #5195 "A highlight action area on the dashboard"
Currently the only message on dashboard is when the backup needs attention. That is useful but we may need an additional area where we can suggest actions to the user.

Examples:
1. During Holiday seasons, we may suggest the user tries out the gifting feature
2. We may ask them to link Swan if they are based in the US (now as Swan is not an explicit/ default account)
3. Tell them about low fees an

[2021-12-27 09:06] Raheel1258 commented on #5177
@cakesoft-swati unable to reproduce the bug on iPhone 12. ios version, 14.5

[2021-12-27 12:55] cakesoft-swati opened #5196 "Upgrade script."
- We need to write a script for fixing the statuses for the gifts. When someone upgrades, the app should look for the statuses of all gifts and fix them to the correct one.
- Also separately, all upgrade scripts should depend on the version you are upgrading from, not what you are upgrading to and so the upgrade scripts will just stack in top of each other.

[2021-12-27 13:40] Raheel1258 commented on #5168
@cakesoft-swati Duplicate ticket

[2021-12-28 01:30] summikhan11 commented on #5177
what is needed from me?

[2021-12-28 01:37] summikhan11 commented on #4719
![IMG_8D1F7DA94AA0-1](https://user-images.githubusercontent.com/85475736/147518232-a5203549-83a7-494e-9374-6603203f9e0d.jpeg)
doesn't seem resolved - staging app 2.0.67 (409)

[2021-12-28 06:43] cakesoft-shashank commented on #5021
@summikhan11 need images for these link types:

  CONTACT and KEEPER = 'https://request.hexawallet.io',
  GIFT = 'https://gift.hexawallet.io',
  DONATION = 'https://donation.hexawallet.io',

[2021-12-28 09:43] cakesoft-shashank commented on #5182
Status flag should be unencrypted @Parsh

[2021-12-28 10:14] Raheel1258 commented on #5161
@cakesoft-swati, closing this one as discussed on call with @antuz123 sir. the flow is working fine.

[2021-12-29 04:25] summikhan11 commented on #5021
![Donation](https://user-images.githubusercontent.com/85475736/147627259-9d372a4d-0b67-464a-9a2d-3ab74b9953ca.png)
let me know if this size works. I'll send the rest @cakesoft-shashank

[2021-12-29 04:43] summikhan11 commented on #5190
https://xd.adobe.com/view/e8259038-6a8a-4b4f-b88f-780e311438a5-bd76/screen/bd2d2f2b-a93a-405e-b154-5cb41209d297/

[2021-12-29 08:17] Raheel1258 commented on #4685
![simulator_screenshot_F15831C1-F93B-4C72-A5EF-8CCB5804BB58](https://user-images.githubusercontent.com/28229449/147641177-d5c3db07-089a-4a37-99bc-f8c41912b7dd.png)

[2021-12-29 10:42] cakesoft-swati opened #5199 "Fees:Doesn't convert from sats."
![Screenshot_20211228-111646](https://user-images.githubusercontent.com/62699947/147653393-9196fe94-7791-4873-88f8-cf41353b9f33.png)
- It should be 960 sats converted to USD, but it says 960 USD

[2021-12-29 11:23] cakesoft-swati opened #5200 "No need of 2 CTA's for the same purpose."
- Don't need 2 CTA's with the same purpose. maintain "return" on the keyboard in case the user wants to move to the next line.
![original (10)](https://user-images.githubusercontent.com/62699947/147657235-59d5b943-301a-4d0a-952b-7f5e7c95eb2d.jpg)

[2021-12-29 14:50] ASN-BitHyve opened #5201 "Welcome message to new followers"
1) To go on TG
2) To go on Twitter a) Anant's profile b) Hexa profile

[2021-12-30 05:37] summikhan11 commented on #4312
what is required from me? @Raheel1258 @cakesoft-shashank

[2021-12-30 05:38] summikhan11 commented on #4936
anything required from me? @ASN-BitHyve

[2021-12-30 05:39] summikhan11 commented on #5109
@ASN-BitHyve can you list the features here?

[2021-12-30 05:40] summikhan11 commented on #5166
will follow up in the first week of Jan

[2021-12-30 06:28] Raheel1258 commented on #4312
@summikhan11 , We need feedback from you where we have to change text to italic and bold.

[2021-12-31 05:38] cakesoft-swati commented on #5199
- Verified this issue on dev app v2.0.68(410)

[2021-12-31 05:38] #5199 closed

[2021-12-31 07:02] summikhan11 commented on #5021
![gift](https://user-images.githubusercontent.com/85475736/147808751-ac435ef3-8d0c-4f5c-a90b-34e5de6929d1.png)
![f f](https://user-images.githubusercontent.com/85475736/147808758-6c85427a-79f9-4cfb-b15b-c55f5db0892b.png)

@cakesoft-shashank

[2021-12-31 08:46] cakesoft-swati commented on #5185
- Verified this issue on dev app v2.0.68(210)

[2021-12-31 08:46] #5185 closed

[2021-12-31 08:56] cakesoft-swati commented on #5184
![temp (159)](https://user-images.githubusercontent.com/62699947/147813410-31997729-fd07-4180-a40c-11da21bf4bc9.jpg)

![temp (157)](https://user-images.githubusercontent.com/62699947/147813424-1a85f6e0-8b1d-4c02-b12c-e254bf955e35.jpg)
- Still the Long OTP and email id is going on second line on Gift datils screen.

![temp (160)](https://user-images.githubusercontent.com/62699947/147813474-6c9a76ff

[2021-12-31 09:03] cakesoft-swati commented on #5189
- Now it does not proceed without entering the secret phrase and hint.It is showing error toast.
![Screenshot_20211231-142942](https://user-images.githubusercontent.com/62699947/147813871-47296880-f0d5-45ba-bc9c-29fd6c2f2e3e.jpg)
-  Verified this issue on dev app v2.0.68(410)

[2021-12-31 09:03] #5189 closed

[2021-12-31 11:22] cakesoft-swati opened #5203 "UI issues."
![temp (161)](https://user-images.githubusercontent.com/62699947/147820412-c7e46e23-8f3e-4734-b4ee-2aca94f082bc.jpg)
- The Confirm and Send button is sticking to the bottom line.

![temp (162)](https://user-images.githubusercontent.com/62699947/147820644-69b2edfd-5b4a-4af6-9a1a-65d60e058283.jpg)
- The text is being cut.

[2021-12-31 11:28] #5168 closed

[2021-12-31 11:37] cakesoft-swati commented on #5161
- In case of F&F it is not showing user name on Send Gift screen.
- Tested on dev app v2.0.68(410)
![temp (163)](https://user-images.githubusercontent.com/62699947/147821338-4a125630-30d8-417d-9e56-476c0967d199.jpg)

[2021-12-31 11:39] cakesoft-swati commented on #5148
- Verified this issue on dev app v2.0.68(410)

[2021-12-31 11:39] #5148 closed

[2021-12-31 11:40] cakesoft-swati commented on #5122
- Verified this issue on dev app v2.0.68(410)

[2021-12-31 11:40] #5122 closed

[2021-12-31 11:42] cakesoft-swati commented on #5090
- It is still taking time to switch currency When we change the currency and came back to the Home page or Manage Gifts screen and try to switch the currency.
- Tested on dev app v2.0.68(410)

[2021-12-31 11:45] cakesoft-swati commented on #5010
- Verified this issue on dev app v2.0.68(410)

[2022-01-03 06:34] Parsh commented on #5179
@cakesoft-swati Can you please check and confirm `The new links are not recognized by the old apps that have been upgraded `?

[2022-01-03 07:20] antuz123 opened #5204 "AGSP"
Putting all the points that we have discussed for an App Generated Strong Password, in one place

**During wallet creation,**

1. The user is given the option to:
- Use an App Generated Strong Password (akin to Long OTP for Gifts but in Apple format xxxxxx-xxxxxx-xxxxxx). Subtext: "Most secure"
- Use their own password (the way it is now) Subtext: "Provide your own"
- Use a security Q/A (the way i

[2022-01-03 07:29] antuz123 commented on #5204
For the existing users (migration script):

1. When users are upgrading to the new version from any of the old version
2. Check if they have a Security Question and Answer in place
3. If they have then, suggest with a message that they consider using AGSP. They can agree or decline
4. Decline, no action
5. Accept, ask them to copy the AGSP and keep it secure like in the wallet creation step
6. The

[2022-01-03 07:36] antuz123 commented on #5204
Ability to change to AGSP/ any encryption key (anytime)

1. The user can simply go into the Password option and change the encryption used
2. They are taken back to the same options screen and the process continues based on the change they have made (similar to migration flow)

[2022-01-03 08:53] cakesoft-swati commented on #5128
- Closing this issue as discussed with dev.

[2022-01-03 08:53] #5128 closed

[2022-01-03 08:54] cakesoft-swati commented on #5096
- Closing this issue as discussed with dev.

[2022-01-03 08:54] #5096 closed

[2022-01-03 08:58] cakesoft-swati commented on #5112
- Unable to see the changes in dev app v2.0.68(411)

[2022-01-03 09:24] Parsh commented on #5068
@ASN-BitHyve We should ask this user to upgrade his/her app and try the flow again. The idea is to see what error gets displayed after pressing the Confirm&Send button(as the latest version shows the specific error unlike the version used while creating the above video), once we have more information regarding the error, we can look further into this.

[2022-01-03 09:49] cakesoft-swati commented on #5179
- sender side app version history:upgraded app from 2.0.6(391)to 2.0.65(393) to 2.0.67(409)
- eceiver side app version history:upgraded app from 2.0.0(361)to 2.0.67(408)
- By clicking on the receiver side link, the app opened and crashed immediately.

[2022-01-03 10:31] Parsh commented on #5124
I didn't see the app crashing in the above video, what I did notice tho is that the app is working really slowly, nor do I see the send journey being completed.

Nevertheless, I've tried sending from the Savings account(Hexa 1) to check whether 2FA based transactions are getting appropriately signed by the Signing Server and the tx went through perfectly fine.

![Screenshot_20220103-154302](https:

[2022-01-03 10:48] summikhan11 commented on #5204
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/screen/9ef1c605-d4f3-4e77-bd8d-eea60404d912

[2022-01-03 11:13] ASN-BitHyve opened #5205 "User unable to delete duplicate contact"
A user chose a contact and made him Keeper. The process did not get completed so he selected reshare and assigned the same contact. This created 2 instances of the same contact in the user's F and F section. He was unable to delete one of the contacts.

https://user-images.githubusercontent.com/68264080/147923996-e8b64d24-e067-4aeb-b11a-3b2198c22b11.mp4
![photo5922390427078605544](https://user-ima

[2022-01-03 11:36] ASN-BitHyve commented on #5069
Updates from the user after updating Hexa 1.0:

"Hello, so I downloaded the app, but the problem persists. I chose to restore from iCloud, and then there is this mysterious question."

![photo5931697780122826347](https://user-images.githubusercontent.com/68264080/147925970-f48c0de7-a66e-48a5-a3f6-34d411652213.jpg)

"I don’t know what is the security question.. in ma email I had “the first city you

[2022-01-03 11:36] ASN-BitHyve commented on #5069
@cakesoft-shashank few more comments from the user logged above.

[2022-01-03 11:39] antuz123 commented on #5204
@summikhan11 - AGSP does not replace the login passcode but more at the Security Q/A step. From the UX it seems to be at the login passcode step. Also did not understand the screen where 4 digit passcodes are suggested.

[2022-01-03 11:43] antuz123 opened #5206 "Using Encryption Key to reset passcode"
When the user forgets their passcode, they should be able to enter AGSP (or any other password mechanism they have chosen) to reset the pin

Once reset, they are logged into the wallet like normal

Also, need to understand where is the pin stored and the state of the app as that may change. Mention issue number here https://github.com/bithyve/hexa/issues/5094

Also is there an upgrade script neede

[2022-01-03 12:15] #5187 closed

[2022-01-03 12:16] antuz123 opened #5207 "Support window for 2FA signing"

[2022-01-03 12:29] antuz123 commented on #5192
Try sending from new version and claim from an older version.

[2022-01-04 04:48] antuz123 commented on #5068
"Missing inputs" is the error you get after upgrading

[2022-01-04 05:01] antuz123 commented on #5089
Pull down to refresh is needed

[2022-01-04 05:03] antuz123 commented on #5007
Force unhide and unarchive all accounts for now

[2022-01-04 05:16] antuz123 commented on #5196
Need to consider From and To versions. Need to stack the scripts that are used from a version unto the two version.

So if you are upgrading from A to D (and B and C are versions between them - all needing migration scripts). In this case there are three scripts A-B, B-C and C-D.

If the user is upgrading from A to D, then they need to run these in sequence: A-B then B-C and then C-D.

[2022-01-04 05:34] cakesoft-shashank opened #5208 "Change app icon"
Replace christmas app icon with existing 2.0 icon

[2022-01-04 05:34] Parsh commented on #5196
Note: We need a more standardized approach, check if something already exists, to manage upgrade scripts(maybe a dedicated set of sagas & a reducer)

[2022-01-04 06:56] ASN-BitHyve commented on #5124
Abhilash has DMed the user asking them to get on a Zoom call.

[2022-01-04 07:03] ASN-BitHyve opened #5209 "Suggested changes in the user icon."
1) Wherever we depict a user, it generally reflects the masculine stereotype. Let's create icons that also depict women and lets have a healthy mix of the man and woman icons wherever a person is being shown.

2) Let's get rid of the tie!

![User image](https://user-images.githubusercontent.com/68264080/148021363-c76830f9-73e6-433d-909d-31611ff37ca1.png)

[2022-01-04 09:42] ASN-BitHyve commented on #5021
Friends and Family:
You've received a request to be added as a contact. You'll be able to transact bitcoin more efficiently if you accept this request.

Keeper Request
You've received a request to store a Recovery Key. You'll be able to help your contact recover their wallet if you choose to become their Keeper.

Gift Sats:
You've received some sats from your contact! open the link to accept the g

[2022-01-04 10:06] Parsh opened #5210 "Redux Persist: State Migration"
We need a [standard way](https://github.com/rt2zz/redux-persist/blob/master/docs/migrations.md) to migrate from one version of the redux store to another in order to avoid redux-persist overriding. This would various issues moving forward such as #5179.

Reference:
[How to use Redux Persist when migrating your states](https://www.freecodecamp.org/news/how-to-use-redux-persist-when-migrating-your-s

[2022-01-04 10:48] Parsh commented on #5191
@cakesoft-swati Can you please try to replicate this and provide me with more details(if this is replicable)?

[2022-01-04 11:17] cakesoft-swati commented on #5191
- Unable to recreate the above issue on same version.

[2022-01-04 11:17] #5191 closed

[2022-01-04 11:39] Parsh commented on #5188
@cakesoft-swati Please check with @antuz123 and add more details to this issue.

[2022-01-04 12:37] Parsh commented on #5205
Note: You can't delete a keeper but you should be able to delete a contact(and the check should be based on wallet-Id and not the contact name).

[2022-01-04 12:44] Parsh opened #5212 "Compiling upgrade scripts"
All the upgrade scripts used prior to 2.1.0 should be compiled into a single file(dedicated sets of sagas, maybe). So that we can easily incorporate them when the a standard upgrade mechanism is implemented as a part of #5196

[2022-01-04 12:47] Parsh commented on #5068
@antuz123 Please provide the transaction id of the Gift that you've added to your account post which the missing input error started showing up.

[2022-01-04 14:14] cakesoft-swati opened #5213 "UI issue:on different screens."
![File (96)](https://user-images.githubusercontent.com/62699947/148070658-09c6b708-f57f-431c-b595-ba74a02b79a6.jpg)

![File (97)](https://user-images.githubusercontent.com/62699947/148071112-7ae3bbb7-22b6-4b7f-a04c-d259073d60ca.jpg)
![File (98)](https://user-images.githubusercontent.com/62699947/148071116-a5a0c8cb-6534-435f-a52d-a993898b0f44.jpg)
- UI gets messed up if we create multiple gifts bef

[2022-01-05 04:42] antuz123 commented on #5188
after entering the token, nothing happens.

[2022-01-05 04:52] antuz123 commented on #5090
@cakesoft-swati - can you please add a video?

[2022-01-05 04:54] antuz123 commented on #5204
AGSP is numbers + lower case + upper case and can be copied on touch

[2022-01-05 05:13] ASN-BitHyve opened #5214 "User unable to purchase sats from Wyre"
He says his app is up-to-date.

"This occurs after I use wyre paying with Apple pay" he says.

(Username: Rick -TG)

![IMG_20220105_104200_426.jpg](https://user-images.githubusercontent.com/68264080/148163828-a83d29cd-e00d-4b6b-8268-f10d20897e08.jpg)

[2022-01-05 08:44] #4672 closed

[2022-01-05 08:53] ASN-BitHyve commented on #4411
@akshaytikle please share the updated json file as Shashank had showed needs to be done. Please tag him or me if you have any further questions.

[2022-01-05 08:54] #4574 closed

[2022-01-05 08:57] Parsh opened #5215 "Send/Create-Gift: Tx-mempool-conflict"
The following error props up during the send and create gift flow.

![Screenshot_2022-01-03-19-30-23-758_io hexawallet hexa development](https://user-images.githubusercontent.com/17980466/148189479-ae0a7de6-ae47-4c3d-8992-efb9ece41cd7.jpg)

Reported by @Raheel1258 & @cakesoft-swati

[2022-01-05 10:36] Parsh commented on #5205
I'm unable to change associated contact w/ a Keeper on the latest version.

Here are the screenshots of the steps taken:

![Simulator Screen Shot - iPhone 11 Pro Max - 2022-01-05 at 16 04 14](https://user-images.githubusercontent.com/17980466/148203422-b10c82c2-286f-4e1a-87c5-247393fe923e.png)

![Simulator Screen Shot - iPhone 11 Pro Max - 2022-01-05 at 16 04 16](https://user-images.githubusercont

[2022-01-05 10:54] Parsh commented on #5188
Unable to replicate it. The above info doesn't really help.

[2022-01-05 11:16] Parsh commented on #5068
![Simulator Screen Shot - iPhone 12 - 2022-01-05 at 16 44 57](https://user-images.githubusercontent.com/17980466/148209053-4aea1585-52f8-4288-8aae-5706407fec1d.png)

[2022-01-05 11:19] #5061 closed

[2022-01-05 11:20] cakesoft-swati commented on #5205
Change contact (For Keeper) is not working on the latest version.

[2022-01-05 11:22] #5059 closed

[2022-01-05 11:41] ASN-BitHyve commented on #5201
"Hello everyone and wish you all a very happy new year! I'm Anant, Co-founder/CEO of the Hexa app. This message is a quick introduction about us to the 150 or so new people to our telegram. I welcome you all.

Hexa is a self-custodial, bitcoin only wallet. Our mission is to create the best entry level wallet for newcomers to bitcoin, while satisfying the expectations of seasoned bitcoiners. The fe

[2022-01-05 11:45] ASN-BitHyve commented on #5132
Suggested lines as requested by Sunny: (Abhilash to draft)

[2022-01-05 11:47] #4958 closed

[2022-01-05 11:47] ASN-BitHyve commented on #4945
@akshaytikle did you get access?

[2022-01-05 11:48] #4936 closed

[2022-01-05 11:52] ASN-BitHyve commented on #4832
@akshaytikle is this done?

[2022-01-05 12:05] #4705 closed

[2022-01-05 12:08] #4612 closed

[2022-01-05 12:14] #5107 closed

[2022-01-05 13:29] cakesoft-swati commented on #5090
https://user-images.githubusercontent.com/62699947/148225254-9334c1d3-e506-47c6-8072-a0d1846c1fa2.mp4

[2022-01-05 18:12] Raheel1258 commented on #5120
@cakesoft-swati can please explain this issue a little bit more?

[2022-01-06 04:44] antuz123 commented on #5200
Change done to - return and disable after one return

[2022-01-06 06:14] cakesoft-swati opened #5218 "Multiple gift:Send max must go away in case of multiple gifts"
-  when creating 2 gifts at once, when I choose the "send max" button it gives me an insufficient balance error.
- But we cant have Send Max and multiple gifts, so if someone chooses multiple gifts, Send Max should go away.

[2022-01-06 06:16] cakesoft-swati opened #5219 "Change Contact:This flow is not working for Keeper."
https://user-images.githubusercontent.com/62699947/152099243-47d21e52-95d2-4561-92be-99c69dadf9ac.mp4

- I cliked on Change and select another contact and send a request to that contact and came back to the "Security Center" page but that contact share was not showing the changed contact name it was still showing the old contact name.

[2022-01-06 07:13] summikhan11 commented on #5204
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/screen/c7aa2e89-3843-4d9e-854c-85a45611f5e1/

[2022-01-06 07:16] summikhan11 commented on #5204
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/screen/c6895a05-a4ff-43e4-86dd-e7382b1c9f86/

@antuz123 can you comment the content for Know more screens, I'll make illustrations based on the space available

[2022-01-06 07:19] summikhan11 commented on #5206
what happens when the user wants to login again and still doesn't the remember the passcode?

Post entering the AGSP (or other mechanism the user has selected) they should be asked to set a new passcode (like we do in emails)

[2022-01-06 07:32] summikhan11 commented on #5206
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/screen/968e3af5-dede-4c37-b9e7-a87806515170/

scroll to find all options

[2022-01-06 07:33] summikhan11 commented on #5204
change encryption :
https://xd.adobe.com/view/0aef8043-d951-4d0a-9a97-b7b2e16ffdbc-5fbc/screen/ed9c68da-85ba-4c8d-a2e8-a00f64d9ba81/

[2022-01-06 08:19] cakesoft-swati opened #5220 "Edit Wallet Name: The app crashes when we press the 'Next' button of the keyboard."
![File (101)](https://user-images.githubusercontent.com/62699947/148350762-9ac9c54e-8b3b-41a5-89df-1e997fafd721.jpg)(next button on iphon's keyboard)

- When we go to edit the name of the wallet, the app crashes on pressing the 'Next' button on the keyboard.
- It is happening on both ios and android device dev app v2.0.68(412)

[2022-01-06 08:27] cakesoft-shashank commented on #5214
Here app deeplinks with https://hexawallet.io/dev/wyre/failed/1641456422454, which is not processed yet

[2022-01-06 08:44] Parsh commented on #5205
So, I have contact as my keeper.

![Simulator Screen Shot - iPhone 11 Pro Max - 2022-01-05 at 16 04 14](https://user-images.githubusercontent.com/17980466/148353653-6db9cf5c-db9e-47c5-94e0-11c554f9ec9a.png)

However, when adding F&F using the same contact, there's no duplicate contact added.

<img width="1440" alt="Screenshot 2022-01-06 at 2 03 31 PM" src="https://user-images.githubusercontent.com

[2022-01-06 10:22] cakesoft-swati commented on #5190
- Unable to see advanced options on the screen where the gift theme is selected by the user.
![temp (165)](https://user-images.githubusercontent.com/62699947/148368144-ab49d6b2-7226-4797-999a-a43d073ac727.jpg)